/*登录后会员中心样式开始*/
.memberWrap * {color: #333;}
input,select{outline: none;border: 1px solid #ccc;background: #fff;}
label {display: inline-block;max-width: 100%;font-weight: 700;}
.text-right{text-align: right;}
.memberWrap{float:right;background: #fff;width: 980px;margin: 10px 10px 10px 0;border-radius: 10px;}
.memberTit{width:100%;height:42px;border-radius:5px;/* background:#2d3134 */}
.memberTit .titImg{text-align: center;margin-top: 8px;margin-left: 10px;width: 86px;height: 28px;background:none;background-position: -3px -75px;/* transform: scale(.8); */}
.memberTit .titImg.deposit_nav{background: none;}
.memberTit .titImg:before,.memberTit .titImg.deposit_nav:before,.memberTit .titImg.withdraw_nav::before{content: '存款';font-size: 20px;font-weight: 700;color: #333;}
.memberTit .titImg:before{content: '转账';}
.memberTit .titImg.withdraw_nav{width: 110px;background:none;}
.memberTit .titImg.withdraw_nav::before{content: '取款';}
.memberTit .titImg.account_nav:before{content: '账户记录';}
.memberTit .titImg.user_nav:before{content: '个人资料';}
.memberTit .backImg{margin-top:7px;margin-right:22px}
.payWay{background: #F8F8F8;border-radius: 5px;margin: 10px;padding: 5px 10px;border: 1px solid #ECE8E9;}
.payWay .payWayTit{font-size:18px;height:44px;line-height:44px;padding-left: 12px;border-bottom: 1px solid #ECE8E9;margin-bottom: 20px;}
.payWay .payList{/* display:flex; */overflow: hidden;padding-bottom: 20px;margin-top: 20px;}
.payList .payItemWrap{cursor: pointer;padding: 30px 5px 10px 15px;/* flex:1; */justify-content:space-around;border: 1px solid #ECE8E9;width: 21.1%;height: 104px;float: left;margin: 0 10px 10px 0;}
.payList .payItemWrap:nth-child(4n){margin-right: 0;}
.payList .payItemWrap.active{background:url("../images/deposit_active.png") no-repeat }
.payList .payItem{display:flex;justify-content:space-around}
.payList .payItem:last-child{border-right:none}
.payList .payItem img{width:79px;height:79px;}
.payItem .payText h1{font-size: 16px;}
.payItem .payText p{font-size: 12px;max-width: 92px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.payItemWrap .checkbox{display: none;width:26px;height:25px;margin:50px auto 0px;cursor:pointer;background:url("/images/check.png") no-repeat;}
.payItemWrap .checkbox.active{background:url("/images/check-act.png") no-repeat}
.nextBtn{width:195px;height:38px;line-height:38px;border-radius:3px;background: rgb(91,91,91);text-align:center;font-size:25px;color:#ffffff;display:block;cursor:pointer;margin:55px auto 20px;}
.nextBtn:hover,.account-table .ch_btn .opengame:hover{transition: .3s;opacity: .8;}
.payTable{width:100%}
.payTable td:first-child{width:145px;text-align:right}
.payTable td{border:1px solid #dddddd;padding:18px}
.payTable td input{width:293px;height:30px;padding-left:10px}
.payTable .payType{display:flex;align-items:center;margin-top:10px}
.payTable .payName{display:flex;align-items:center;width:100px}
.payTable .payName span{font-size:15px;color:#000000;padding-left:10px}
.payTable .payName img{width:35px;height:35px}
.payTypeItem span{display:inline-block;padding:5px 10px;text-align:center;font-size:15px;color:#000000;margin:0 10px;border-radius:5px;cursor:pointer}
.payTypeItem span.active{background:#ffb400}
.warn h2{font-size:15px}
.warn{font-size:15px;padding-left:40px;padding-bottom:50px}
.incomeTable{width:100%;text-align:center}
.incomeTable td{border: 1px solid #525252;padding:10px;}
.payRemid{padding: 10px 0px 20px 40px;border-radius: 0 0 5px 5px;background: #2f2e34;color: #fee061;font-size:15px;margin: 0 10px;}
.tableSubmit{width:100%}
.tableSubmit td:first-child{width:150px;text-align:right}
.tableSubmit td{padding:10px;border: 1px solid #525252;}
.tableSubmit input{width:295px;padding-left:10px;height:30px;}
.tableSubmit select{width:295px;padding-left:10px;height:30px;}
.btnWrap .nextBtn{float:left;margin-top:20px;margin-left:150px}
.btnWrap .nextBtn:last-child{margin-left:20px}
.moneyType .quickM{display:inline-block;padding: 3px 8px;font-size:12px;border-radius:3px;margin:0px 3px;cursor:pointer;border: 1px solid #525252;}
.moneyType .quickM:hover{color: #333;}
.moneyType .quickM.active{background:#747474;color:#ffb400}
section{width:95%;height:auto;margin:0 30px}
section .title{width:100%;height:70px;line-height:70px;margin:auto;flex:1;font-size:18px;font-weight:normal;letter-spacing:0.2px;}
.ed-selection{border-bottom:1px dashed #dddddd}
.ed-selection ul{overflow: hidden;}
.ed-selection li {width: 30%;float: left;line-height: 26px;}
.ed-selection li span {color: #bd4700;}
.ed-selection button {margin: 20px 10px;}
.ed-selection .btn-nextstep{background: #727070;}
#step1{height:550px}
section.bank-card-selection{height:auto;min-height:150px}
.bank-card-selection .title{line-height:90px}
.bank-card-selection .bank-list{width:100%;min-height:60px;overflow-x:visible}
.bank-list .card{border-radius:1px}
.bank-card-selection .bank-card,#addNewBankCard{width:240px;height:60px;margin: auto 40px 5px 0;border:1px dashed #dddddd;}
.bank-card-selection .bank-card{border:1px solid #dddddd}
.bank-card-selection .bank-card:hover,.bank-card-selection .bank-card.bank-card-active{border:2px solid #ffbc63;-moz-box-shadow: 3px 3px 3px 0px #4c4c4e;-webkit-box-shadow: 3px 3px 3px 0px #4c4c4e;box-shadow: 3px 3px 3px 0px #4c4c4e;}
.bank-card .logo{width:41px;height:40px;margin:0 auto;line-height:55px}
.bank-card .logo img{width:100%}
.bank-card .bank{width:70%}
.bank-card .bank .name,.bank-card .bank .bank-account-number{width:100%;height:30px;white-space:nowrap}
.bank-card .bank .name{line-height:40px;font-size:16px;font-weight:bold;letter-spacing:2px;}
.bank-card .bank .bank-account-number{line-height:20px;color:#c0c0c0;font-size:14px}
.bank-card .bank .bank-account-number span{margin:0 0 0 2px}
.bank-card .delete{width:10%}
.bank-card .delete .close{position:relative;display:inline-block;width:15px;height:10px;margin:10px;overflow:hidden}
.close:focus,.close:hover{color:#ccc}
.bank-card .delete .close::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.bank-card .delete .close::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.bank-card .delete .close::before,.bank-card .delete .close::after{content:'';position:absolute;height:2px;width:100%;top:60%;left:0;margin-top:-1px;background:#000}
.bank-card .delete .close.thick::before,.bank-card .delete .close.thick::after{height:2px;margin-top:-2px}
.bank-card.bank-card-active .delete .close.thick::before,.bank-card.bank-card-active .delete .close.thick::after{background:#bd4700}
.new-bank-card .logo{width:22%;margin:auto}
#cross{width:20px;height:20px;margin:20px auto;position:relative;transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg)}
#cross:before,#cross:after{content:"";position:absolute;z-index:-1;background:#6b6b6b}
#cross:before{left:50%;width:8%;margin-top:18%;height:75%}
#cross:after{top:50%;height:8%;margin-left:15%;width:75%}
.new-bank-card .text{width:70%;height:100%;line-height:60px;font-size:20px;font-weight:500;letter-spacing:normal;flex:1;cursor: pointer;}
.withdrawal-amount .title{line-height:1em;height:auto;margin:0 0 1em}
.withdrawal-amount .input-field{width:500px;height:80px;position:relative}
.withdrawal-amount .input-field .dollar-sign{width:40px;height:40px;line-height:40px;margin:20px auto 20px auto;font-size:36px;text-align:center;position:absolute;z-index:1;}
.withdrawal-amount .input-field input{padding-right: 5px;width:500px;height:80px;line-height:70px;box-shadow: inset 0 1px 10px #d6d6da;border-radius:1px;font-size:22px;text-align:right;position:absolute;}
.withdrawal-amount input::placeholder{color:#cacaca;font-size:16px}
.withdrawal-amount input::-webkit-input-placeholder{color:#cacaca;font-size:16px}
.withdrawal-amount input:-moz-input-placeholder{color:#cacaca;font-size:16px}
.withdrawal-amount input::-moz-input-placeholder{color:#cacaca;font-size:16px}
.withdrawal-amount input:-ms-input-placeholder{color:#cacaca;font-size:16px}
section.withdrawal-amount{min-height:140px;margin:0px auto 0 auto}
.withdrawal-amount .input-field .error-message{margin:5px 0 10px 205px;color:#ff0000;display:none;position:absolute}
.withdrawal-amount .balance-message{height:50px;margin:6px 0 0 0;color:#606060;letter-spacing:1px}
.withdrawal-amount .balance-message div{height:25px;padding:5px 0 0 0}
.withdrawal-amount .balance-message div.alert{padding:0}
.withdrawal-amount .balance-message span{color:#bd4700;letter-spacing:0px}
.withdrawal-amount .alert,.bank-card-selection .alert{padding:0;margin:0;border-color:#ffffff;background-color:#ffffff}
.withdrawal_passwd{padding-left: 5px;box-shadow: inset 0 1px 10px #d6d6da;border-radius: 1px;height: 40px;}
section.dollar-values{height:65px;margin:0 auto 30px 30px;padding:0 0 30px 0;border-bottom:1px dashed #dddddd}
.dollar-values .btn{float:left;width:100px;height:35px;line-height:35px;margin:auto 10px auto 0;padding:0;border: 1px solid rgb(91,91,91);border-radius:0;color: #fee061;text-align:center;background: rgb(91,91,91);}
.dollar-values .btn.selected{border:1px solid #ffad40;background:#ffffff;color:#ffcf93}
.dollar-values .btn span{color: #fee061}
section.confirmation{height:45px;margin:10px auto 15px 30px;padding-bottom:30px}
button.btn-nextstep{width:200px;height:45px;border:0;border-radius:4px;background: rgb(91,91,91);color:#ffffff;font-size:18px;text-align:center;}
.flex-row{display:flex;flex-flow:row}
.BankCardInfo.input-group .form-group{height:60px;margin-bottom:0px}
.BankCardInfo.input-group .forValidations{height:100%;position:relative;margin:10px 0 0 0}
.BankCardInfo.input-group .forValidations>div{height:100%}
.BankCardInfo.input-group{width:338px;margin:20px auto 0px}
.BankCardInfo.input-group .modal-dialog .modal-body select#username,.BankCardInfo.input-group .modal-dialog .modal-body select#bankaccount,.BankCardInfo.input-group .modal-dialog .modal-body select#bankaddress{appearance:none;-moz-appearance:none;-webkit-appearance:none;pointer-events:none}
.BankCardInfo.input-group select,.BankCardInfo.input-group  div select,.BankCardInfo.input-group  input{width:100%;min-height:15px;line-height:25px;margin:0 0 0px 0;border-top:0;border-right:0;border-bottom: 1px solid #525252;border-left:0;font-family:"Microsoft Yahei";font-size:18px;font-weight:500;font-style:normal;font-stretch:normal;letter-spacing:normal;float:none;box-shadow:none;background: transparent;}
.BankCardInfo.input-group  select:focus,#newBankCard div select:focus{outline:none}
.BankCardInfo.input-group  label{color:#999999;font-size:12px;letter-spacing:1px;font-weight:normal}
.BankCardInfo.input-group .bankInput .titleLabel{color:#999;font-size:16px;position:relative;transition:all 0.2s ease;top:-60px}
.BankCardInfo.input-group .bankInput .backaccount{z-index:3}
.BankCardInfo.input-group .bankInput .subTitle{font-size:12px}
.BankCardInfo.input-group .bankInput input{font-size:18px;padding:3px 0px 0px 0px;display:block;color:#636363;width:100%;margin-top:26px;line-height:32px}
.BankCardInfo.input-group .bankInput select{height:43px;padding:0}
.BankCardInfo.input-group .bankInput input:focus{outline:none}
.BankCardInfo.input-group .bankInput input:focus~.titleLabel,#newBankCard #bankInput input.used~.titleLabel,#newBankCard #bankInput select:focus~.titleLabel,#newBankCard #bankInput select.used~.titleLabel{margin-top:-76px;font-size:14px}
.BankCardInfo.input-group  label.alert{display:none;margin:0px;padding:5px;border:#ffffff;background:#bd4700;color:#fff;font-size:13px;position:relative;bottom:70px;left:330px;z-index:99}
.BankCardInfo.input-group  label.alert::before{content:'';width:0;height:0;border-bottom:10px solid #bd4700;border-left:10px solid transparent;position:absolute;bottom:0px;left:-7px;z-index:1}
.BankCardInfo.input-group  .custom-select-bankname label.alert{left:120px;bottom:40px}
.BankCardInfo.input-group  .custom-select-bankprovince label.alert{left:150px;bottom:60px}
.BankCardInfo.input-group .custom-select-bankcity label.alert{left:80px;bottom:60px}
.BankCardInfo.input-group  input:focus{border-bottom:1px solid#d3470f;outline:0;outline-offset:0px}
.BankCardInfo.input-group .input_same .titleLabel{color:#999;font-size:16px;position:relative;transition:all 0.2s ease;top:-55px}
.select-trigger{position:absolute;content:"";top:-6px;right:0px;color:#a0a0a0 !important;width:14px;height:14px;border-width:2.5px 2.5px 0 0;border-style:solid;margin:10px;display:inline-block;vertical-align:middle;box-sizing:border-box;-ms-transform:rotate(-225deg);transform:rotate(-225deg)}
.BankCardInfo.input-group  select{display:block;background:transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none}
.modalFooter{padding:0px;border:0;text-align:center;}
.modalFooter .btn-add{width:180px;height:40px;padding:8px 48px;/*background: #ffb400;*/background: rgb(91,91,91);color:#ffffff;font-size:16px;border-radius: 5px;}
#location>div:last-of-type{width:35%;margin:0 auto}
.flex-start{align-content:flex-start}
.flex-row-wrap{display:flex;flex-flow:row wrap}
.msg-box{width: 980px;margin: 10px 10px 10px 0;border-radius:5px;background:#fff;overflow:hidden;}
.msg-box *{box-sizing:border-box;font-family:"Microsoft YaHei"}
.msg-box li{float:initial}
.msg-box--content-active{width:72%;max-width:none;margin:0;padding:25px 14%;border-radius:0;height:calc(100vh - 50px);overflow:auto}
.msg-box .first-row{display:flex;/* background: #19181d; */justify-content:space-between;align-content:center;height:40px;font-size:14px;position:relative;}
.msg-box .first-row-left > span{border: 1px solid rgb(91,91,91);height:16px;width:2px;box-sizing:border-box;position:absolute;left:28px;top:12px;}
.msg-box .first-row-left > p{color: #333;display:inline-block;margin:0;line-height:14px;position:absolute;left:52px;top:12px;font-size: 20px;font-weight: 700;}
.msg-box .button-group{display:flex}
.msg-box .button-group button{outline:none;height:30px;position:relative;right:20px;top:5px;overflow:visible}
.msg-box .button-group .button-left{width:88px;height:30px;background-color: #d9dcdd;border: 1px solid #d9dcdd;border-radius:5px 0 0 5px;color:#a6a8a9;font-size:14px;line-height:14px;}
.msg-box .button-group .button-middle{width:88px;height:30px;background-color:#30373a;border-top:1px solid #73777a;border-bottom:1px solid #73777a;border-left:none;border-right:none;color:#a6a8a9;font-size:14px;line-height:14px}
.msg-box .button-group .button-right{width:88px;height:30px;background-color: #edeeef;border: 1px solid #edeeef;border-radius:0 5px 5px 0;color:#a6a8a9;font-size:14px;line-height:14px;}
.msg-box .button-group .active{border-top:none;border-bottom:none;color:#1a2226;font-size:14px;line-height:14px;background-color:#d9dcdd}
.msg-box .message-red-dot{display:none;position:absolute;font-size:12px;right:10px;top:0;background-color:#f74e4e;color:white;width:12px;height:12px;border-radius:50%;line-height:1}
.msg-box .msg-dot-padding-left{padding-left:0.5px}
.msg-box .action-button-wrapper{font-size:14px;line-height:14px;display:flex;justify-content:space-between;align-items:center;height:45px;border-bottom:1px solid #eaeff1}
.msg-box .second-row .select-all-wrapper{display:flex;position:relative;align-items:center;left:20px;width:60px}
.msg-box .second-row button{background:#d8dcdd;border-radius:20px;border:none;margin:0;padding:0;color:#666666;font-size:14px;line-height:14px}
.msg-box .second-row__button-group{background:white;position:relative;right:20px;height:30px;font-size:0}
.msg-box .second-row__button-group .mark-as-read-button{background:none;border:none;width:88px;height:30px;border-radius:15px;background-color:#f2f2f2;outline:none}
.msg-box .second-row__button-group .delete-button{background:none;border:none;width:88px;height:30px;margin-left:10px;border-radius:15px;background-color:#f2f2f2;outline:none}
.msg-box .message-content-breadcrumb{font-size:14px;display:none;align-items:center;color:#666666;margin:12px auto 22px auto;width:800px}
.msg-box .message-content-breadcrumb > h4{margin:0;font-weight:normal;line-height:14px;width:178px;display:flex;justify-content:space-between}
.msg-box .message-content-breadcrumb button{background:white;outline:none}
.msg-box .default-checkbox{display:none}
.msg-box .custom-checkbox{position:relative;border:1px solid #979797;width:18px;height:18px;border-radius:3px}
.msg-box .message-custom-checkbox{position:relative;border:1px solid #979797;width:18px;height:18px;border-radius:3px;top:20px}
.msg-box .custom-checkbox:hover{cursor:pointer}
.msg-box .custom-checkbox.checked{background:#ff9421;border-color:#ff9421}
.msg-box .custom-checkbox.checked::after{border-color:white;border-style:solid;border-width:0 2px 2px 0;width:5px;height:9px;transform:rotate(45deg);position:absolute;top:1px;left:5px;content:''}
.msg-box .custom-checkbox .custom-checkbox-red-dot{display:block;height:10px;width:10px;background-color:red;border-radius:50%;position:absolute;right:-5px;top:-5px}
.msg-box .custom-checkbox .custom-checkbox-red-dot--hidden{display:none}
.msg-box .custom-checkbox-checkmark{border-color:white;border-style:solid;border-width:0 2px 2px 0;width:5px;height:9px;transform:rotate(45deg);position:absolute;top:2px;left:6px}
.msg-box .custom-checkbox-label{position:relative;margin:0;left:14px;user-select:none}
.msg-box .custom-checkbox-label:hover{cursor:pointer}
.msg-box .message{display:flex;border-bottom:1px solid #eaeff1;height:150px;padding:0 16px 0 20px}
.msg-box .message:nth-child(2n){background: #F8F8F8;}
.msg-box .message-image{flex:1;background:grey;width:548px;height:130px;margin:0 11px 0 7px;border-radius:2px;background-color:#d8d8d8;top:9px;position:relative;cursor:pointer}
.msg-box .message-image--hide{display:none}
.msg-box .message-content{flex:1;margin:10px 0 10px 13px;display:flex;flex-direction:column;justify-content:space-around;}
.msg-box .message-content > div{display:flex;justify-content:space-between;align-items:center}
.msg-box .message-content > p{overflow:hidden;text-overflow:ellipsis;/*display:-webkit-box;*/-webkit-box-orient:vertical;-webkit-line-clamp:2;margin:15px 0 ;width:512px;font-size:14px;font-weight:normal;line-height:15px;text-align:left;color:#333;word-break:break-all;min-height:31px;}
.msg-box .message-content > p.message-content-without-thumbnail{width:660px}
.msg-box .message-content .isRead-true{color:rgba(119,119,119,0.5)}
.msg-box .message-content button{color:#ff9421;background:none;border:none;text-align:left;padding:0;width:max-content;outline:none;overflow:visible}
.message-content__read-more{width:48px;line-height:12px;font-size:12px;margin-bottom:13px}
.msg-box h3{line-height:22px;font-size:22px;color:#1a2226;margin:0;font-weight:normal;word-break:break-all}
.msg-box .time{margin:0 0 0 10px;line-height:14px;font-size:14px;color:#999999;min-width:118px}
.msg-box .time.isRead-true{margin:0 0 0 10px;line-height:14px;font-size:14px;color:#999999}
.msg-box .message-content-opened{width:800px;margin:0 auto;word-break:break-all}
.msg-box .message-content-opened a{text-decoration:underline;cursor:pointer}
.msg-box .message-content-opened h2{margin:0 0 10px 0;color:#bd4700;font-size:36px}
.msg-box .message-content-opened .message-content-opened__time{display:block;margin-bottom:39px;color:#999;font-size:14px}
.msg-box .message-content-opened img{height:302px;width:800px;display:block;margin-bottom:48px}
.msg-box .pagination{display:flex;justify-content:flex-end;align-items:center;margin:14px 16px;color:#777}
.msg-box .pagination > .page-box{margin:0 5px;line-height:30px;text-align:center;width:30px;height:30px;border:1px solid #dddddd;border-radius:3px;background-color:#fff;color:#d6d6d6}
.msg-box .pagination > .page-box:hover{cursor:pointer}
.msg-box .pagination .page-number--active{background:#ff9421;color:white}
.msg-box .pagination .box-section{display:flex;justify-content:flex-end;align-items:center;color:#777}
.msg-box .pagination .box-section > .page-box{width:30px;height:30px;border:1px solid #ddd;border-radius:3px;margin:0 5px;line-height:30px;text-align:center;font-size:14px;color:#333333}
.msg-box .pagination .box-section > .page-box:hover{cursor:pointer}
.msg-box .pagination .box-section .page-number--active{background:#ff9421;border-color:#ff9421;line-height:30px;font-size:14px;color:#ffffff}
.msg-box .pagination .ellipsis{border:none;color:#dddddd;letter-spacing:3px;padding-bottom:8px;padding-left:3px}
.msg-box .pagination .ellipsis:hover{cursor:default}
.msg-box .pagination > input{width:54px;height:30px;border:1px solid #ddd;border-radius:3px;padding:0;margin:0 5px;text-align:center;font-size:14px;line-height:11px;}
.msg-box .pagination .page-text{margin-left:6px;line-height:13px;font-size:14px;color:#666666}
.msg-box footer{user-select:none}
.msg-box .no-content{display:flex;flex-direction:column;justify-content:center;align-items:center;margin:20px 40px;color:#787878;height:65vh}
.msg-box .no-content p{margin:26px 0;font-size:16px}
.hidden{display:none}
.msg-box .message-content-opened{width:800px;margin:0 auto;word-break:break-all}
.msg-box .message-content-opened h2{margin:0 0 10px 0;color:#bd4700;font-size:36px}
.msg-box .message-content-opened .message-content-opened__time{display:block;margin-bottom:39px;color:#999;font-size:14px}
.msg-box .message-content-breadcrumb{font-size:14px;display:none;align-items:center;color:#666666;margin:12px auto 22px auto;width:800px}
.msg-box .message-content-breadcrumb button{border-radius:20px;border:none;margin:0;padding:0;color:#666666;font-size:14px;line-height:14px}
.account-table td{padding:10px;border: 1px solid #525252;}
.account-table td:first-child{width:150px;text-align:right}
.account-table td:nth-child(2){width:300px}
.account-table td:nth-child(3){width:300px}
.account-table .ch_btn {display: flex;}
.account-table .ch_btn .opengame {display: inline-block;padding: 3px 5px;background: #ffb400;border-radius: 3px;color: #fff;}
/*.account-table tr:last-child{background:rgb(147,147,147)}
.account-table tr:last-child td{border:none}*/
.static-content{margin-bottom:50px;padding:20px}
.box-border{border:1px solid}
.profile-quicklook{padding:20px;border-color:#b5b5b5;margin:0px 0 10px 0px;font-size:14px}
.profile-quicklook .member-name{font-size:16px}
.profile-info{margin-bottom:80px;}
.form-row{margin-bottom:10px;font-size:14px}
.form-group{margin-bottom:5px}
.form-horizontal .form-group{margin-left:-5px;margin-right:-5px}
label.label-left-sm{width:140px;font-weight:normal;vertical-align:middle;margin-bottom:0;padding-top:5px;display: inline-block;padding: 0 15px;color: #333;}
.form-control,.form-control:focus,.form-control:active{box-shadow:none;padding-left: 10px;width: 340px;}
.form-control{height: 34px;border-radius:2px;font-size:16px;}
select.form-control{padding-top:3px;padding-bottom:3px;height:29px}
.btn-default{cursor:pointer;background-color: rgb(91,91,91);color:#fff;border-color: rgb(91,91,91);text-transform:uppercase;padding: 5px 10px;}
#top-sub-list{position:absolute;top:55px;left:100px;display:none}
.phoneBg{width:100%;min-height:800px;height:calc(100vh - 85px);background:url("../images/phoneBg.jpg") no-repeat center center;background-size:cover}
.codeBoxs{display:flex;position:absolute;left:50%;margin-left:-560px;top:504px}
.codeBoxs img{margin:0 20px}
.account_icon{display: inline-block;background: url("/images/account_icon.png") no-repeat;}
.account-table .account_icon{width: 77px;height: 28px;cursor: pointer;}
.account-table .zz {background-position: 0 -172px;}
.account-table .zc {background-position: -82px -172px;}
.account-table .zz_all {background-position: 0 -217px;}
.ed_change_all {padding: 19px;}
.ed_change_all .ed_select select {width: 130px;margin: 8px;height: 30px;}
.ed_change_all .ed_change_inpout {box-shadow: inset 0 1px 10px #d6d6da;border-radius: 1px;height: 30px;padding-left: 5px;margin: 8px;}
.memberTit .titImg.user_nav{width: 110px;background-position: 1px -33px;}
.memberTit .titImg.account_nav{width: 110px;background-position: 1px -258px;cursor: pointer;}
.form-control[disabled], fieldset[disabled] .form-control {cursor: not-allowed;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {opacity: 1;}
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,.col-xs-5,.col-xs-6 ,.col-xs-9{display: inline-block;}
.col-lg-6 {margin-left: 5px;}
.col-lg-6 a{color: #ec971f;text-decoration: underline;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-6 {width: 50%;}
.btn-block {display: block;width: 100%;float: left;}
.input-group {position: relative;display: table;border-collapse: separate;width: 100%;}
.changpwform{padding:15px;font-size: 14px;color: #333;}
.changpwform .form-control {width: 100%;}
.input-group .form-control, .input-group-addon, .input-group-btn {display: table-cell;}
.input-group-btn {position: relative;white-space: nowrap;background: #ccc;border-bottom-right-radius: 3px;border-top-right-radius: 3px;padding: 0 8px;vertical-align: middle;cursor:pointer;}
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{z-index:2;margin-left:-1px}
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle{border-top-left-radius:0;border-bottom-left-radius:0}
.input-group-btn>.btn{position:relative}
.changpwform .in_verifycode{display: inline-block;width: auto;vertical-align: middle;}
.pwd_captchaImg {float: left;margin-right: 10px;}
.col-xs-9 {width: 75%;}
.col-xs-3 {width: 20%;float: right;padding-right: 15px;}
.changpwform label{vertical-align: top;}
.reveal-pw-toggle span {display: inline-block;width: 23px;height: 20px;background: url("/images/eye.png") no-repeat;background-size: 100%;}
.reveal-pw-toggle.eye_open span{background: url("/images/eye1.png") no-repeat;background-size: 100%;}
.bank_details {color: #bd4700;line-height: 26px;border-bottom: 1px solid #ECE8E9;margin: 10px 0;padding: 15px 0;}
.bank_details ul {width: 60%;display: inline-block;}
.bank_details .nextBtn {display: inline-block;position: relative;top: -20px;}
.bank_details .band_btn_all {display: inline-block;}
/* 账户记录 开始*/
.static-content-user .account_bet_content:nth-child(n+1) {margin-top: 5px;}
.static-content-user .title{padding:10px;/* color:#ff9200; */font-size:18px;background: #ECE8E9;cursor: pointer;}
.static-content-user .time_li{display:inline-block;height:30px;line-height:30px;margin:10px 20px}
.static-content-user .time_li input{height:100%;padding: 0 10px;width: 110px;}
.static-content-user .time_li a{display:inline-block;width:60px;height:100%;background: #f1b543;text-align:center;color:#fff;border-radius:3px;}
.static-content-user .choose_date{background: #f7f2f3;height:40px;line-height:40px;}
.static-content-user .choose_date li{cursor:pointer;float:left;display:inline-block;height:100%;padding:0 25px;/* border-right:1px solid #fff */}
.static-content-user .choose_date li.active{background: #ffe063;color: #000;}
.static-content-user .choose_type{float:right;padding:0 30px}
.static-content-user .choose_type select{height:30px;padding:0 15px}
.static-content-user .choose_status a{display:inline-block;height:40px;line-height:40px;color:#000;background:#e3e3e3;padding:0 40px;margin-top:10px}
.static-content-user .choose_status a.active{background:rgb(255,146,0);color:#fff}
.static-content-user .choose_status a.active:after{position:absolute;content:'';width:0;height:0;border-right:6px solid transparent;border-left:6px solid transparent;border-top:6px solid rgb(255,146,0);margin:40px -40px}
.static-content-user .deal_choose_status a.active:after{margin: 40px -21px;}
.static-content-user .choose_status a:nth-child(n+2){margin-left:-2px}
.static-content-user .detail_table{font-size:15px;line-height:24px;text-align:center;width:100%;table-layout:fixed;margin:10px 0;border-collapse:collapse}
.static-content-user .detail_table th{/* color:#fff; */background-color: #ece8e9;border: 1px solid #ece8e9;padding:10px 0;padding-bottom:9px;text-align:center;font-weight:normal;}
.static-content-user .detail_table td{border: 1px solid #ece8e9;font-weight:100;font-size:1em;padding:6px 10px;}
.static-content-user .detail_table td.tac{text-align:center}
.static-content-user .empty-container{padding:12px}
.static-content-user .text-red, .static-content-user .text-red p{ color:#ff0000;}
.static-content-user .text-lose, .static-content-user .text-lose p{ color:#41e539;}
.static-content-user .text-blue, .static-content-user .text-blue p{ color:blue;}
.red_color {color: red;}
.total_report {display: inline-block;float: right;line-height: 60px;padding-right: 10px;}
.total_report dl,.total_report dt{display: inline-block;}


/* 账户记录 结束*/
