
<!-- 主体 -开始 -->
<div class="subban subban3"></div>
<div class="psr">
    <div class="banyuan">

    </div>
</div>
<div class="subcont">
    <div class="inner">
        <div class="cl h33"></div>

        <div class="cl h25"></div>
    </div>
</div>



<div class="game-content-top"></div>
<div class="dzyy_m">
    <div class="dzyy_mn">

        <!-- 主体头部 -开始 -->
        <div class="dzyy_mnt">
            <div class="dzyy_mntbg">
                <div class="dzyy_mntbg_l"></div>
                <div class="dzyy_mntbg_m_all">
                    <span class="dzyy_mntbg_mwz">总彩池奖金</span>
                    <div class="dzyy_mntbg_m">
                        <span class="dzyy_mntbg_mred">￥</span>
                        <span class="dzyy_mntbg_mred">6</span>
                        <span class="dzyy_mntbg_mred">3</span>
                        <span class="dzyy_mntbg_mred">0</span>
                        <span class="dzyy_mntbg_mred">5</span>
                        <span class="dzyy_mntbg_mred">6</span>
                        <span class="dzyy_mntbg_mred">7</span>
                        <span class="dzyy_mntbg_mred">7</span>
                        <span class="dzyy_mntbg_mred">4</span>
                        <span class="dzyy_mntbg_mred">0</span>
                        <span class="dzyy_mntbg_mred">.</span>
                        <span class="dzyy_mntbg_mred">0</span>
                        <span class="dzyy_mntbg_mred">1</span>
                    </div>
                </div>

                <div class="dzyy_mntbg_r"></div>
            </div>
        </div>
        <!-- 主体头部 -结束 -->


        <!-- 主体左侧搜索 -开始 -->
        <div class="dzyy_mnbl">
            <div class="dzyy_mnbl_st">游戏搜索</div>
            <div class="dzyy_mnbl_sfm">
               <!-- <form id="form1" name="form1" method="post" action="" class="dzyy_form">-->
                    <input type="text" name="seachtext" id="seachtext" class="dzyy_sear_input" />
                    <input name="btn" type="submit" class="dzyy_sear_btn" value=""/>
               <!-- </form>-->
            </div>
            <div class="dzyy_mnbl_sw">
                <a href="javascript:;" class="active" data-val="0">全部游戏</a><br/>
                <a href="javascript:;" data-val="1">漫威热门系列</a><br/>
                <a href="javascript:;" data-val="2">电影老虎机</a><br/>
                <a href="javascript:;" data-val="3">热门游戏</a><br/>
                <a href="javascript:;" data-val="4">乐透刮刮乐</a><br/>
                <a href="javascript:;" data-val="5">纸牌游戏</a><br/>
                <a href="javascript:;" data-val="6">累积奖池</a><br/>
                <br/>

            </div>
        </div>
        <!-- 主体左侧搜索 -结束 -->


        <!-- 主体右侧列表 -开始 -->
        <div class="dzyy_mnbr">
            <ul>
                <li class="dzyy_mnbr_diva">
                    <p><img src="images/games/slotgame028.jpg"></p>
                    <p class="dzyy_mnbr_divat" style="background: none;"></p>
                    <p class="dzyy_mnbr_divam">古怪猴子</p>
                    <p class="dzyy_mnbr_divab"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divabzq">真钱模式</span></a>
                        <a href="javascript:;" class="dzyy_mnbr_divabsw" onclick="open_game('fm','PT',0,1)">试玩模式</a>
                    </p>
                </li>
                <li class="dzyy_mnbr_diva">
                    <p><img src="images/games/slotgame008.jpg"></p>
                    <p class="dzyy_mnbr_divat jackport_num">￥843596.08</p>
                    <p class="dzyy_mnbr_divam">x战警</p>
                    <p class="dzyy_mnbr_divab"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divabzq">真钱模式</span></a>
                        <a href="javascript:;" class="dzyy_mnbr_divabsw" onclick="open_game('xmn','PT',0,1)">试玩模式</a>
                    </p>
                </li>
                <li class="dzyy_mnbr_diva">
                    <p><img src="images/games/slotgame021s.jpg"></p>
                    <p class="dzyy_mnbr_divat jackport_num">￥843596.03</p>
                    <p class="dzyy_mnbr_divam">全景电影</p>
                    <p class="dzyy_mnbr_divab"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divabzq">真钱模式</span></a>
                        <a href="javascript:;" class="dzyy_mnbr_divabsw" onclick="open_game('cifr','PT',0,1)">试玩模式</a>
                    </p>
                </li>
                <li class="dzyy_mnbr_diva">
                    <p><img src="images/games/slotgame002.jpg"></p>
                    <p class="dzyy_mnbr_divat jackport_num">￥843596.02</p>
                    <p class="dzyy_mnbr_divam">美国队长</p>
                    <p class="dzyy_mnbr_divab"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divabzq">真钱模式</span></a>
                        <a href="javascript:;" class="dzyy_mnbr_divabsw" onclick="open_game('cam','PT',0,1)">试玩模式</a>
                    </p>
                </li>
            </ul>

            <!--分割线-->
            <div style="clear:both;"></div>
            <div class="dzyy_mnline">&nbsp;</div>
            <!--分割线-->
            <ul class="games_ul">
               <!-- <li class="dzyy_mnbr_divb">
                    <p><img src="images/dzyy_bd_pic1.png"></p>
                    <p class="dzyy_mnbr_divbt">￥3905555.08</p>
                    <p class="dzyy_mnbr_divbm">美国队长</p>
                    <p class="dzyy_mnbr_divbb"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>
                        <span class="dzyy_mnbr_divbbsw">试玩模式</span></p>
                </li>
                <li class="dzyy_mnbr_divb">
                    <p><img src="images/dzyy_bd_pic2.png"></p>
                    <p class="dzyy_mnbr_divbt">￥3905555.08</p>
                    <p class="dzyy_mnbr_divbm">x战警</p>
                    <p class="dzyy_mnbr_divbb"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>
                        <span class="dzyy_mnbr_divbbsw">试玩模式</span></p>
                </li>
                <li class="dzyy_mnbr_divb">
                    <p><img src="images/dzyy_bd_pic3.png"></p>
                    <p class="dzyy_mnbr_divbt">￥3905555.08</p>
                    <p class="dzyy_mnbr_divbm">复仇者联盟</p>
                    <p class="dzyy_mnbr_divbb"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>
                        <span class="dzyy_mnbr_divbbsw">试玩模式</span></p>
                </li>
                <li class="dzyy_mnbr_divb">
                    <p><img src="images/dzyy_bd_pic1.png"></p>
                    <p class="dzyy_mnbr_divbt">￥3905555.08</p>
                    <p class="dzyy_mnbr_divbm">x战警</p>
                    <p class="dzyy_mnbr_divbb"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>
                        <span class="dzyy_mnbr_divbbsw">试玩模式</span></p>
                </li>
                <li class="dzyy_mnbr_divb">
                    <p><img src="images/dzyy_bd_pic2.png"></p>
                    <p class="dzyy_mnbr_divbt">￥3905555.08</p>
                    <p class="dzyy_mnbr_divbm">x战警</p>
                    <p class="dzyy_mnbr_divbb"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>
                        <span class="dzyy_mnbr_divbbsw">试玩模式</span></p>
                </li>
                <li class="dzyy_mnbr_divb">
                    <p><img src="images/dzyy_bd_pic3.png"></p>
                    <p class="dzyy_mnbr_divbt">￥3905555.08</p>
                    <p class="dzyy_mnbr_divbm">x战警</p>
                    <p class="dzyy_mnbr_divbb"><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>
                        <span class="dzyy_mnbr_divbbsw">试玩模式</span></p>
                </li>-->
            </ul>

            <!--底部翻页线-->
            <div style="clear:both;"></div>
            <div class="dzyy_mnbot">
               <!-- <a href="javascript:;" class="page-icon active" data-val="1"></a>
                <a href="javascript:;" class="page-icon" data-val="2"></a>
                <a href="javascript:;" class="page-icon" data-val="3"></a>-->
            </div>
            <!--底部翻页线-->


        </div>
        <!-- 主体右侧列表 -结束 -->

    </div>
</div>
<div class="cl"></div>

<!-- 主体 -结束 -->

<script type="text/javascript">

    $(function () {
        var jackporttotal ;
        var jackportnum ;
        clearInterval(jackporttotal) ;
        clearInterval(jackportnum) ;
        /* 数字动态处理 */
        function jackPortNum() {
            $('.jackport_num').each(function () {
                var num = parseFloat($(this).text().substring(1)) ;
                var f_num = parseFloat(Math.random().toFixed(2)/30) ; // 随机生成小数
                $(this).text('￥'+(num+f_num).toFixed(2)) ;
                // console.log(num) ;
                // console.log(typeof(f_num)) ;
            })
        }

        // 总彩池奖金
        function jackPortTotal() {
            var num = '' ;
            $('.dzyy_mntbg_m').find('.dzyy_mntbg_mred').each(function () {
                var tt = $(this).text() ;
                num +=tt ;
            }) ;
            var numf = num.substring(1) ; // 初始值
            var newnum = (parseFloat(numf)+parseFloat(Math.random().toFixed(2)) ).toFixed(2) ; // 保留两位的新的值
            var numarr = newnum.split('') ;
            var str ='<span class="dzyy_mntbg_mred">￥</span>' ; // 拼接新数据
            for(var i=0;i<numarr.length;i++){
                str +='<span class="dzyy_mntbg_mred">'+numarr[i]+'</span>' ;
            }
            // console.log(numf) ;
            $('.dzyy_mntbg_m').html(str) ;
           // console.log(numarr) ;
        }
        jackporttotal = setInterval(jackPortTotal,100) ;
        jackportnum = setInterval(function () {
            jackPortNum() ;
        },200)


    }) ;

        var pagenum = 0 ; // 当前分页切换数字
        // 游戏列表数据
        var gamelist = [ // marvel 为1 漫威热门系列，movie 为1 电影老虎机，hot 为1 热门游戏，lottery 为1 乐透刮刮乐，card 为1 纸牌游戏，jpa 为1 累计彩池
            {name:'复仇者联盟',img:'./images/games/slotgame001s.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'avng',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'1'},
            {name:'美国队长',img:'./images/games/slotgame002s.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'cam',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'雷神 - 超级复仇者',img:'./images/games/slotgame003.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'trm',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'1'},
            {name:'钢铁侠',img:'./images/games/slotgame004.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'irm2',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'钢铁侠2',img:'./images/games/slotgame005.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'irm3',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'1'},
            {name:'钢铁侠3',img:'./images/games/slotgame006s.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'irm3',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'绿巨人',img:'./images/games/slotgame007.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'hlk50',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'X战警',img:'./images/games/slotgame008s.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'xmn',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'1',lottery:'0',card:'0',jpa:'1'},
            {name:'神奇四侠',img:'./images/games/slotgame009.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'fnf',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'1'},

            {name:'神奇四侠50线',img:'./images/games/slotgame010.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'fnf50',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'刀锋战士',img:'./images/games/slotgame011.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'bld',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'1'},
            {name:'恶灵骑士',img:'./images/games/slotgame012.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'ghr',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'1'},
            {name:'夜魔侠',img:'./images/games/slotgame013.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'drd',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'艾丽卡',img:'./images/games/slotgame014.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'elr',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'50线钢铁侠2',img:'./images/games/slotgame015.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'irm50',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'无敌金刚',img:'./images/games/slotgame016.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'kkg',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'洛基传奇',img:'./images/games/slotgame017.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'rky',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'木乃伊迷城',img:'./images/games/slotgame018.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'mmy',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},

            {name:'一夜奇遇',img:'./images/games/slotgame019.jpg',jackport:'',cls:'',code:'hb',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'沙滩假日',img:'./images/games/slotgame020.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'bl',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'全景电影',img:'./images/games/slotgame021s.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'cifr',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'1'},
            {name:'CASH BACK先生',img:'./images/games/slotgame022.jpg',jackport:'',cls:'',code:'mcb',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'船长宝藏',img:'./images/games/slotgame023.jpg',jackport:'',cls:'',code:'ct',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'沙漠宝藏',img:'./images/games/slotgame024.jpg',jackport:'',cls:'',code:'dt',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'沙漠宝藏2',img:'./images/games/slotgame025.jpg',jackport:'',cls:'',code:'t2',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'Dr情圣博士',img:'./images/games/slotgame026.jpg',jackport:'',cls:'',code:'dlm',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'全民大富翁',img:'./images/games/slotgame027.jpg',jackport:'￥1689800.01',cls:'jackport_num',code:'evj',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},

            {name:'古怪猴子',img:'./images/games/slotgame028s.jpg',jackport:'',cls:'',code:'fm',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'绿茵法则',img:'./images/games/slotgame029.jpg',jackport:'',cls:'',code:'fbr',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'疯狂底特律七',img:'./images/games/slotgame030.jpg',jackport:'',cls:'',code:'fdt',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'湛蓝深海',img:'./images/games/slotgame031.jpg',jackport:'',cls:'',code:'bib',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'疯狂乐透',img:'./images/games/slotgame032.jpg',jackport:'',cls:'',code:'lm',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'幸运熊猫',img:'./images/games/slotgame033.jpg',jackport:'',cls:'',code:'gts51',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'粉红豹',img:'./images/games/slotgame034.jpg',jackport:'',cls:'',code:'pnp',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'1'},
            {name:'网球明星',img:'./images/games/slotgame035.jpg',jackport:'',cls:'',code:'tst',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'顶级王牌-明星',img:'./images/games/slotgame036.jpg',jackport:'',cls:'',code:'ttcsc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},

            {name:'顶级王牌-足球明星',img:'./images/games/slotgame037.jpg',jackport:'',cls:'',code:'tfs',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'玩转华尔街',img:'./images/games/slotgame038.jpg',jackport:'',cls:'',code:'wsffr',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'我心狂野',img:'./images/games/slotgame039.jpg',jackport:'',cls:'',code:'wis',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'蜘蛛侠大战绿魔人',img:'./images/games/slotgame051.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'spidc',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'金钢狼',img:'./images/games/slotgame052.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'wvm',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'X战警50线',img:'./images/games/slotgame053.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'xmn50',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'刀锋战士50线',img:'./images/games/slotgame054.jpg',jackport:'￥843596.01',cls:'jackport_num',code:'bld50',plat:'PT',lt:'0',free:'1',marvel:'1',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'天使与恶魔',img:'./images/games/slotgame055.jpg',jackport:'',cls:'',code:'gtsaod',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'圆月财富',img:'./images/games/slotgame056.jpg',jackport:'',cls:'',code:'ashfmf',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'0',jpa:'0'},

            {name:'钢铁侠2刮刮乐',img:'./images/games/scratch001.jpg',jackport:'',cls:'',code:'irm3sc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'金刚刮刮乐',img:'./images/games/scratch002.jpg',jackport:'',cls:'',code:'kkgsc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'东方神奇刮刮乐',img:'./images/games/scratch003.jpg',jackport:'',cls:'',code:'essc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'疯狂足球刮刮乐',img:'./images/games/scratch004.jpg',jackport:'',cls:'',code:'fbm',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'1',card:'0',jpa:'0'},
            {name:'完美爱情刮刮乐',img:'./images/games/scratch005.jpg',jackport:'',cls:'',code:'lom',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'21点刮刮乐',img:'./images/games/scratch006.jpg',jackport:'',cls:'',code:'sbj',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'圣诞刮刮乐',img:'./images/games/scratch007.jpg',jackport:'',cls:'',code:'ssa',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'顶级王牌明星刮刮乐',img:'./images/games/scratch008.jpg',jackport:'',cls:'',code:'ttc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'法老王国刮刮乐',img:'./images/games/scratch009.jpg',jackport:'',cls:'',code:'pks',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'1',card:'0',jpa:'0'},

            {name:'甲壳虫宾果刮刮乐',img:'./images/games/scratch010.jpg',jackport:'',cls:'',code:'bbn',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'轮盘刮刮乐',img:'./images/games/scratch011.jpg',jackport:'',cls:'',code:'sro',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'小丑刮刮乐',img:'./images/games/scratch012.jpg',jackport:'',cls:'',code:'tclsc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'钢铁侠3刮刮乐',img:'./images/games/scratch013.jpg',jackport:'',cls:'',code:'irmn3sc',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'1',card:'0',jpa:'0'},
            {name:'乐透21点',img:'./images/games/card001.jpg',jackport:'',cls:'',code:'pbj',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'决斗21点',img:'./images/games/card002.jpg',jackport:'',cls:'',code:'bj21d_mh',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'赌场德州扑克',img:'./images/games/card003.jpg',jackport:'',cls:'',code:'cheaa',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'牌九游戏',img:'./images/games/card004.jpg',jackport:'',cls:'',code:'pg',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'疯狂维京人',img:'./images/games/card005.jpg',jackport:'',cls:'',code:'wv',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},

            {name:'龙舌兰扑克',img:'./images/games/card006.jpg',jackport:'',cls:'',code:'tqp',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'红狗扑克',img:'./images/games/card007.jpg',jackport:'',cls:'',code:'rd',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'加勒比扑克',img:'./images/games/card008.jpg',jackport:'',cls:'',code:'car',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'换牌21点',img:'./images/games/card009.jpg',jackport:'',cls:'',code:'bjs',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'21点专业版',img:'./images/games/card010.jpg',jackport:'',cls:'',code:'psdbj',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'漫威轮盘',img:'./images/games/card011.jpg',jackport:'',cls:'',code:'rom',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'1',jpa:'1'},
            {name:'美式轮盘',img:'./images/games/card012.jpg',jackport:'',cls:'',code:'rodz',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'法式轮盘',img:'./images/games/card013.jpg',jackport:'',cls:'',code:'frr',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'欧式轮盘',img:'./images/games/card014.jpg',jackport:'',cls:'',code:'ro',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},

            {name:'轮盘专业版',img:'./images/games/card015.jpg',jackport:'',cls:'',code:'rop',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'双骰游戏',img:'./images/games/card016.jpg',jackport:'',cls:'',code:'cr',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'骰宝',img:'./images/games/card017.jpg',jackport:'',cls:'',code:'sb',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'豪华欧式轮盘',img:'./images/games/card018.jpg',jackport:'',cls:'',code:'ro_g',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'豪华法式轮盘',img:'./images/games/card019.jpg',jackport:'',cls:'',code:'frr_g',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'豪华轮盘专业版',img:'./images/games/card020.jpg',jackport:'',cls:'',code:'rop_g',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'多轮式轮盘',img:'./images/games/card021.jpg',jackport:'',cls:'',code:'romw',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'1',jpa:'0'},
            {name:'3D 进阶轮盘',img:'./images/games/card022.jpg',jackport:'',cls:'',code:'gtsro3d',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'0',lottery:'0',card:'1',jpa:'0'},
            {name:'Baywatch',img:'./images/games/slotgame057.jpg',jackport:'',cls:'',code:'gtsbayw',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},

            {name:'Cowboys & Aliens',img:'./images/games/slotgame059.jpg',jackport:'',cls:'',code:'gtscbl',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'John Wayne',img:'./images/games/slotgame060.jpg',jackport:'',cls:'',code:'gtsjhw',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'Marilyn Monroe',img:'./images/games/slotgame061.jpg',jackport:'',cls:'',code:'gtsmrln',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'Rubiks Riches',img:'./images/games/slotgame062.jpg',jackport:'',cls:'',code:'gtsru',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'0',hot:'1',lottery:'0',card:'0',jpa:'0'},
            {name:'The Love Boat',img:'./images/games/slotgame063.jpg',jackport:'',cls:'',code:'lvb',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},
            {name:'The Sopranos',img:'./images/games/slotgame064.jpg',jackport:'',cls:'',code:'gtssprs',plat:'PT',lt:'0',free:'1',marvel:'0',movie:'1',hot:'0',lottery:'0',card:'0',jpa:'0'},


        ] ;

        var gameapply = {} ;
        // 游戏列表渲染 ，index 当前页码 ,left 是否通过左侧选择游戏
        function setGameList(index,left) {
            gameapply = {} ;
            if(left >= 1 ){
                gameapply = new_gamelist ;
            }else{
                gameapply = gamelist ;
            }
           // console.log(gameapply)
            var str = '' ;
           /* for(var i= 0;i<gamelist.length;i++){ // 遍历游戏列表*/
            for(var i= (index*9);i<(index+1)*9;i++){ // 遍历游戏列表
                if(gameapply[i]){
                    str += '<li class="dzyy_mnbr_divb">\n' +
                        '<p><img src="'+gameapply[i].img+'"></p>\n' +
                        '<p class="dzyy_mnbr_divbt '+gameapply[i].cls+'">'+gameapply[i].jackport+'</p>\n' +
                        '<p class="dzyy_mnbr_divbm">'+gameapply[i].name+'</p>\n' +
                        '<p class="dzyy_mnbr_divbb"><a href="javascript:void(alert(\'请登入后进行游戏，谢谢~\'))"><span class="dzyy_mnbr_divbbzq">真钱模式</span></a>\n' +
                        '<a href="javascript:;" class="dzyy_mnbr_divbbsw" onclick="open_game(\''+gameapply[i].code+'\',\''+gameapply[i].plat+'\',\''+gameapply[i].lt+'\',\''+gameapply[i].free+'\')">试玩模式</a></p>\n' +
                        '</li>';
                }

            }

            $('.games_ul').html(str) ;

        }
        setGameList(0,'0') ;

    // 更新当前页数 ,left 是否左侧
    function setPageAction(left) {
        gameapply = {} ;
        if(left >= 1){
            gameapply = new_gamelist ;
        }else{
            gameapply = gamelist ;
        }
        var page = '' ;
        for(var j=0;j<Math.ceil(gameapply.length/9);j++){ // 页数
            if(j == 0){
                page +='<a href="javascript:;" class="page-icon active" data-val="'+j+'"></a>' ;
            }else{
                page +='<a href="javascript:;" class="page-icon" data-val="'+j+'"></a>' ;
            }
        }
        $('.dzyy_mnbot').html(page) ;
    }
    setPageAction(pagenum) ;


    /* 真钱模式打开游戏 */
    function open_game(gameCode, ht, lt, free) {
        // free = (typeof free != "undefined") ? "&free=" + free : "";
        alert('请登入后进行游戏，谢谢~');
    }
    /* 点击切换分页 */
    function selectPage() {
        $('.dzyy_mnbot').on('click','a',function () {
            var val = $(this).data('val') ;
            setGameList(val,pagenum) ;
            $(this).addClass('active').siblings().removeClass('active') ;

        }) ;
    }
    selectPage() ;

    var new_gamelist = {} ;
   // var marvel_arr = {} ; // 漫威热门系列
    var marvel = {} ; // 漫威热门系列
   // var movie_arr = {} ; // 电影老虎机
    var movie = {} ; // 电影老虎机
   // var hot_arr = {} ; // 热门游戏
    var hot = {} ; // 热门游戏
    //var lottery_arr = {} ; // 乐透刮刮乐
    var lottery = {} ; // 乐透刮刮乐
   // var card_arr = {} ; // 纸牌游戏
    var card = {} ; // 纸牌游戏
   // var jpa_arr = {} ; // 累积彩池
    var jpa = {} ; // 累积彩池

    function setmarvelArr(par,par1) {
        marvel ={} ; // 需要清空
        movie ={} ; // 需要清空
        hot ={} ; // 需要清空
        lottery ={} ; // 需要清空
        card ={} ; // 需要清空
        jpa ={} ; // 需要清空
        gamelist.forEach(function (obj) {
            var array = par[obj[par1]] || [];
            array.push(obj);
            par[obj[par1]] = array;
        });
        new_gamelist = par[1] ;
       // console.log(new_gamelist)

    }

/*    function setmovieArr() {
        gamelist.forEach(function (obj) { // 电影老虎机
            var array = movie_arr[obj['movie']] || [];
            array.push(obj);
            movie_arr[obj['movie']] = array;
        });
        new_gamelist = movie_arr[1] ;
    }
    function sethotArr() {
        gamelist.forEach(function (obj) {
            var array = hot_arr[obj['hot']] || [];
            array.push(obj);
            hot_arr[obj['hot']] = array;
        });
        new_gamelist = hot_arr[1] ;
    }
    function setlotteryArr() {
        gamelist.forEach(function (obj) {
            var array = lottery_arr[obj['lottery']] || [];
            array.push(obj);
            lottery_arr[obj['lottery']] = array;
        });
        new_gamelist = lottery_arr[1] ;
    }
    function setcardArr() {
        gamelist.forEach(function (obj) {
            var array = card_arr[obj['card']] || [];
            array.push(obj);
            card_arr[obj['card']] = array;
        });
        new_gamelist = card_arr[1] ;
    }
    function setjpaArr() {
        gamelist.forEach(function (obj) {
            var array = jpa_arr[obj['jpa']] || [];
            array.push(obj);
            jpa_arr[obj['jpa']] = array;
        });
        new_gamelist = jpa_arr[1] ;
    }*/

    // 左侧选单函数
    function selectLeftAction() {
        $('.dzyy_mnbl_sw').on('click','a',function () {
            var val = $(this).data('val') ;
            pagenum = val ;
            $(this).addClass('active').siblings().removeClass('active') ;
            switch (val){
                case 0: // 全部
                    setGameList(0,'0') ;
                    setPageAction(0) ;
                    break;
                case 1: // 漫威
                    setmarvelArr(marvel,'marvel') ;
                    setGameList(0,val) ;
                    setPageAction(val) ;
                    break;
                case 2 :
                    //setmovieArr() ;
                    setmarvelArr(movie,'movie') ;
                    setGameList(0,val) ;
                    setPageAction(val) ;
                    break;
                case 3:
                    //sethotArr() ;
                    setmarvelArr(hot,'hot') ;
                    setGameList(0,val) ;
                    setPageAction(val) ;
                    break;
                case 4:
                   // setlotteryArr() ;
                    setmarvelArr(lottery,'lottery') ;
                    setGameList(0,val) ;
                    setPageAction(val) ;
                    break;
                case 5:
                    //setcardArr() ;
                    setmarvelArr(card,'card') ;
                    setGameList(0,val) ;
                    setPageAction(val) ;
                    break;
                case 6:
                    //setjpaArr() ;
                    setmarvelArr(jpa,'jpa') ;
                    setGameList(0,val) ;
                    setPageAction(val) ;
                    break;
            }

        }) ;
    }
    selectLeftAction() ;

    // 搜索功能
    function seachGame() {
        $('.dzyy_sear_btn').on('click',function () {
            var seach = $('#seachtext').val().toLowerCase() ;
            $('.games_ul').find('.dzyy_mnbr_divbm').each(function () {
                var tt = $(this).text().toLowerCase() ;
                if(tt.indexOf(seach)> -1){
                    $(this).parent('.dzyy_mnbr_divb').show() ;
                }else{
                    $(this).parent('.dzyy_mnbr_divb').hide() ;
                }

            });
        }) ;

    }
    seachGame() ;
    // 按下enter键登录
    var seachclick = true ;
    $('input[type="text"]').keydown(function(event){
        if(event.which == "13") {
            if(!seachclick) { return false;} if(seachclick) {
                $('.dzyy_sear_btn').click();
                seachclick = false ;
            }
            setTimeout(function () {
                seachclick = true ;
            },1000);

        }

    });

</script>