
<!-- 主体 -开始 -->

<div class="contact_all_top">

</div>
<div class="subcont">
    <div class="inner">
        <div class="cl h13"></div>
        <div class="zhucebm">
            <div class="leftnav">

            </div>

            <div class="rightcont">
                <div class="cl h33"></div>
                <div class="gycont">
                    <div class="gytlt">一般规则说明</div>


                    <br>●此规则将被定义为规则和条款,适用于本公司所有交易.此条款包括了最大派彩金额、交易范围和交易时间.阁下有责任确保您获知所有的规则条款.我们保留随时修改条款的权利,有关修改的内容我们会公布在网上.请您留意公布在网上的交易附加条款.如果有任何不一致的地方,将以附加条款为准.
                    <br>●此条款是公平公正的,如果您对此有任何意见,您可以联系我们的客服部,我们的客服团队将热诚协助每位客户,并确保能及时友善的解决您的问题.对于任何错误或争议,我们的客服团队将全力提供服务.
                    <br>●所有的条款建立在会员与公司之间.对产生的任何争议,希望通过该条款让双方都达到满意的程度.
                    <br>所有在进行的交易都需要依照以下规则容和条款:
                    <br>1.所有比赛中的最高和最低交易额将由公司决定,如有更改不需要提前通知.
                    <br>2.会员申请账户时需提供正确的讯息,对于提供错误讯息的账户我们将不负责任何责任.
                    <br>3.在本公司的交易,会员需要自行负责账户交易.会员交易后需要仔细检查交易单,一旦交易接受,将无法更改或取消.公司对会员本身原因造成的遗漏或重复的交易单不负责任何责任.会员可以在"交易状况"中查看详情确保所有需要的交易单已经被接受.
                    <br>4.对于任何交易投诉,如果没有记录或存储在公司的数据库中,公司将不接受或认可任何会员提供的复印件或单据.
                    <br>5.赛事结果圴在赛事结束后确认,除非在相关体育或赛事规则另有说明.赛果公布72小时后,若对任何赛果有争议,将不认可.赛果公布72小时内,除了任何体育纪律委员会所重新裁决之赛果;所有人为错误或相官网页失误等原因本公司才会将错误的赛果修正.
                    <br>6.公司保留在任何时候关闭或冻结会员账号的权利.
                    <br>7.如果此规则和条款有任何争议,请以公司的解释为准.
                    <br>8.在滚球赛事中,公司保留权利取消赛果已预先知道的交易.如果由于"现场直播"延迟而引起的盘口不正确或赔率,此期间的交易单将视为无效.
                    <br>9.比赛时候,定时器和红卡的显示仅供会员参考,公司对提供讯息的准确性不负任何责任.
                    <br>10.如比赛在法定时间提前进行,在比赛开始前的交易仍然有效.在比赛开始后的所有交易圴视为无效.(滚球交易另作别论)
                    <br>11.所有赛事都需要在公司原定的法定时间内进行,如果被终止,较原定比赛时间延迟12个小时或以上、或被取消,则该场球赛的交易圴被视为无效."连串过关"将被视为有效,唯赔率概以「1」计算.公司对此所作出的处理是最终的处理结果,不管与其它官方或体育网站公布的结果是否一致.
                    <br>12.如果对其他语言版本的球赛队名有争议,请以英文网站的名称为准.
                    <br>13.
                    <br>a.公司的网站,服务器或网络中断
                    <br>b.公司的服务器丢失讯息或讯息遭受破坏
                    <br>c.不法份子攻击网站,服务器或网络供货商
                    <br>d.进入网站时候由于网络供货商原因造成的网络缓慢
                    <br>所有的交易将以公司后台记录的数据为准,公司不接受任何投诉或争议,除非客户提供有效的交易记录的截图或证据,否则公司的交易记录将被视为最后的证明.

                    <br>
                    <br>
                    <br><br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="cl h15"></div>
                <div class="cl h15"></div>
                <div class="cl h15"></div>

            </div>

            <div class="cl"></div>
        </div>
        <div class="cl h25"></div>
    </div>
</div>

<!-- 主体 -结束 -->

<script type="text/javascript">
    urlSetAction(HTTPS_HEAD,FETCH_NUM);
    setUserMsg(usermessage,'nottip') ;
</script>