
<!-- 主体 -开始 -->
<div class="contact_all_top">

</div>

<div class="subcont">
    <div class="inner">
        <div class="cl h13"></div>
        <div class="zhucebm">
            <div class="leftnav">

            </div>

            <div class="rightcont">
                <div class="cl h33"></div>
                <div class="gycont">
                    <div class="gytlt">存款帮助</div>

                    您现在可以透过以下方式存款给皇冠现金网：
                    <br>一、公司入款
                    <br>公司入款是通过公司指定的银行卡号进行存款支付，公司入款可以用网银转帐，ATM存款，或者柜檯汇款的方式支付，具体步骤如下：
                    <br>1.会员可以通过在线客服收取公司入款账号。
                    <br>2. 目前公司提供中国建设银行、中国工商银行、中国农业银行三间银行可选择。跨行转账请您使用跨行快汇，存款到帐时间约为三到五分钟。
                    <br>3. 会员通过公司入款满100元系统将自动增加1.2%存款优惠，当日无上限。（入款1000+优12=1012）
                    <br>注：请您存款时在金额后面加个尾数（例如：欲入10000元，请转10000.15元），方便快速到账，谢谢！
                    <br>二、 线上支付
                    <br>1. 会员登入后点选"线上付款"。
                    <br>2. 选择入款额度，并请确实填写"联络电话" ，如有任何问题，方便皇冠现金网客服第一时间与您联繫。
                    <br>3. 选择"支付银行"。
                    <br>4. 确认送出后，将请您确认您的支付订单无误，并建议您记录您的支付订单号后，确认送出，并耐心等待载入网络银行页面，传输中已将您账户数据加密，请耐心等待。
                    <br>5. 进入网络银行页面，请确实填写您银行账号信息，支付成功，额度将在5分钟内系统处理完成，立即加入您的皇冠现金网会员账户。
                    <br>◎存款需知：
                    <br>· 皇冠现金网单笔最低存款为$100元人民币， 线上支付单笔最高存款上限为$50,000人民币，若存款超过$50,000，请分几次存款；公司入款单笔最高存款上限为$1,000,000人民币。
                    <br>· 未开通网银的会员，请亲洽您的银行柜檯办理。
                    <br>· 如有任何问题，请您联繫24小时线上客服。

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="cl h15"></div>
                <div class="cl h15"></div>
                <div class="cl h15"></div>

            </div>

            <div class="cl"></div>
        </div>
        <div class="cl h25"></div>
    </div>
</div>
<!-- 主体 -结束 -->
