
<style type="text/css">

</style>

<!-- 主体 -开始 -->
<div class="subban subban1"></div>
<div class="cl"></div>
<div class="psr">
	<div class="banyuan">

	</div>
</div>
<div class="subcont">
	<div class="inner">
		<div class="tybox">
			<ul>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty1.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty2.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty3.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty4.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty5.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty6.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty7.jpg" alt=""></a></li>
				<li><a href="javascript:void(alert('请登入后进行游戏，谢谢~'))" class=""><img src="images/sport/ty8.jpg" alt=""></a></li>

			</ul>
			<div class="cl"></div>
		</div>
		<div class="cl"></div>

		<div class="tmbox">
			<ul>
				<li><a><img src="images/sport/tm1.png" alt=""></a></li>
				<li><a><img src="images/sport/tm2.png" alt=""></a></li>
				<li><a><img src="images/sport/tm3.png" alt=""></a></li>
				<li><a><img src="images/sport/tm4.png" alt=""></a></li>
				<li><a><img src="images/sport/tm5.png" alt=""></a></li>
				<li><a><img src="images/sport/tm6.png" alt=""></a></li>
				<li><a><img src="images/sport/tm7.png" alt=""></a></li>
				<li><a><img src="images/sport/tm8.png" alt=""></a></li>
				<li><a><img src="images/sport/tm9.png" alt=""></a></li>
				<li><a><img src="images/sport/tm10.png" alt=""></a></li>
				<li><a><img src="images/sport/tm11.png" alt=""></a></li>
				<li><a><img src="images/sport/tm12.png" alt=""></a></li>
				<li><a><img src="images/sport/tm13.png" alt=""></a></li>
				<li><a><img src="images/sport/tm14.png" alt=""></a></li>
				<li><a><img src="images/sport/tm15.png" alt=""></a></li>
				<li><a><img src="images/sport/tm16.png" alt=""></a></li>

			</ul>
			<div class="cl"></div>

		</div>
		<div class="cl"></div>
	</div>
</div>


<!-- 主体 -结束 -->