
<!-- 主体 -开始 -->
<div class="contact_all_top">

</div>
<div class="subcont">
    <div class="inner">
        <div class="cl h13"></div>
        <div class="zhucebm">
            <div class="leftnav">

            </div>

            <div class="rightcont">
                <div class="cl h33"></div>
                <div class="gycont">
                    <div class="gytlt">使用条款</div>

                    接受私隐政策
                    <br>进入及使用本网站 ("www.98555.com") 你将会被默认为接受本网站的使用条款。以下简称为"我们的"、"我们"、"我们的公司"或相似的简称是指Firstright Developments Limited；简称为"你"、"你们" 或相似的简称是指进入本网站的人（无论是自然进入与否）。
                    <br>不涉提供购买或销售
                    <br>本网站的内容在任何情况下都不涉及提出销售或要求购买任何产品或服务，无论是本公司的与否。
                    <br>连接到其它网站
                    <br>连接到第三方的网站仅仅是为了给你提供方便。 若你使用这些连接，你将离开本网站，而不同的使用条款将会套用在那些网站上。 有些到其它网站的连接，即使那些网站由我们的公司经营，提供的内容或许并不适合所有人，当透过这个网站的连接进入此网站时，你必须阅读及接受这个网站的使用条款。 我们不会查看第三方网站或其连接的有关条款，不会控制以及并不负责这些网站的任何事情，或者他们的内容。 我们不会采用和接受任何第三方的网站的声明。
                    <br>内容声明
                    <br>我们尽力维持本网站的内容准确，完全，与及最新（自发表的日期计算），然而，我们的公司并不保证内容准确、完整与及最新，并且不对因技术或数据输入出错而负责。 此外，发表的信息可能会因日期的改变而不再有效。我们的公司不负责更新这些信息。在使用这些信息之前进行核对是你的责任。 我们的公司保留权利去修改或更新本网站的信息，而不用作预先通知。 一些产品或服务或会因为受监管或其它限制而不能于所有市场上提供。
                    <br>本网站所有内容由皇冠现金网在线拥有版权，并保留一切权利。 任何未经我们的公司书面批准下的使用，复制，贮存便属非法。 本网站所有图案、商标、设计、商业包装与及/或者其它知识产权均由皇冠现金网在线拥有或我们的公司有合法权益；任何未经批准的应用均属违。 我们的公司会追讨每一项可能的赔偿(民事或刑事)，起诉任何对本网站的知识财产的非法应用或者滥用。
                    <br>通过本网站取得产品和服务，代表你已经接受该前述产品和服务的使用条款。
                    <br>会员、代理及第三方营销者受约束于维持与我们的公司的关系的规则与条款。
                    <br>促销、推广项目与及任何类似的活动将会受到显著地于本网站发布的每次促销或者推广项目特定规则与条款所控制。
                    <br>所有信息只是作为提供信息的目的，并不会给在美国、中华人民共和国香港特别行政区、越南、菲律宾共和国或者有关信息是被禁止的或需要执照的法律管辖区域，出版或发布。
                    <br>使用者的责任
                    <br>用户进入及使用本网站的内容均由用户承担风险。 皇冠现金网在线与及任何参与创作、制作或者传播本网站的人士，对任何直接的、偶然的、造成后果的、间接的或惩罚性的损坏，或在你访问过程中出现的损坏、能否使用此网站或任何连接的其它网站、任何错误或内容中的遗漏所引起的无论什么样的损坏，都不会承担责任。
                    <br>如有任何问题，意见或关注事项，请联系"在线客服"。
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="cl h15"></div>
                <div class="cl h15"></div>
                <div class="cl h15"></div>

            </div>

            <div class="cl"></div>
        </div>
        <div class="cl h25"></div>
    </div>
</div>

<!-- 主体 -结束 -->

<script type="text/javascript">
    urlSetAction(HTTPS_HEAD,FETCH_NUM);
    setUserMsg(usermessage,'nottip') ;
</script>