
    <h1>板球</h1>
    <span class="rules_update">最后更新日期: <em>07/08/2018</em></span>
    <h2>一般规则</h2>
    <ul>
        <li>若比赛场地发生变化，只要主/客队关系不变，所有已下投注依然成立。只要新的地点是在同一个国家，国际场馆是可以改变。</li>
        <li>所有击球手投注都会在该名击球手得分跑后结算。当击球手在击球时，额外的记录将不会归入当局的跑垒次数。</li>
    </ul>

    <h3>对抗赛 &amp; 郡级锦标赛</h3>
    <ul>
        <li>如果比赛有至少一球击杀，注单将被视为有效并且根据官方赛果结算。如果出现平局（Tie），并列第一规则将适用，并且和局（Draw）的注单将结算为输。<br><br>
            平局（Tie）vs.和局（Draw）
        </li>
        <ul class="indent_outside">
            <p>a)	当比赛结束时两队得分相同，赛果为平局（tie），但前提是最后的击球方必须完成其指定局数（例如：完成所有赛局；或是在回合有限的情况下，完成指定回合数；或者由于天气或光线不足而导致比赛终止）。</p>
            <p>b)	和局（Draw）是指：当球队未能在比赛结束时完成比赛所产生的不确认结果，仅适用于甲级板球比赛。</p>
        </ul>


        <li>如果比赛因下雨（或其他原因）而延迟，所有投注将根据官方结果进行结算。</li>
        <li>对抗赛中，”击球手跑位得分”，”跑位得分”&amp;”球员配对投注”均可成立，无论比赛时长、局数。</li>
        <li>如果赛事受到外来因素干扰而中断，所有注单将被取消。</li>

    </ul>

    <h3>单日赛</h3>
    <ul>
        <li>在单日赛中，如果比赛时间缩短或因天气或因外来因素干扰而中断，所有注单将按照官方板球比赛规则结算。包括赛事受达-路方法（D/L method）或Jayadevan系统（VJD）的影响。如果比赛的最终结果是以投杀出局或掷币的方式裁决，则所有注单将被取消。</li>
        <li>如果比赛以平局（tie）结束并且官方结果或比赛规则未确定获胜者，若本公司没有提供平局（tie）的赔率，则并列第一规则适用。如果赛事由投杀出局或超级轮来决定获胜者时，所有注单将根据官方结果进行结算。</li>
        <li>如是采用达-路方法(Duckworth Lewis Method - DL)计算，所有投注在"最多轮数"，"最高配对选手开场得分"，“击球手赛事”及“投球手赛事”的注单将被取消，除非在采用D/L计算方式前已有明确结果并且之后没有任何显著会影响赛事结果的情况。“击球手”及“投球手”赛事在采用达-路方法(Duckworth Lewis Method - DL)之后所开的盘将由新的轮数来结算。</li>
        <li>如果在单日国际板球赛的当天需重新投硬币决定发球权，所有在原订开赛时间前45分钟的注单将被取消。此规则将运用于所有盘口，除非盘口结算方式已有明确结果并且之后没有任何显著会影响赛事结果的情况，例如‘赢发球权’盘口。</li>

    </ul>

    <h2>投注类型</h2>
    <ul class="acc_backUL">
        <h3>独赢盘</h3>
        <ul>
            <li>预测哪一支球队将在比赛中胜出。此盘口会有两个选项（队伍）</li>
            <li>如果比赛以平局（tie）结束并且没有宣布正式获胜者，并列第一规则适用。</li>
            <li>在甲级板球比赛中,如果比赛结果为和局（Draw），则所有注单将被视为无效。</li>
            <li>如果比赛没有官方结果，则所有注单将被视为无效。</li>
        </ul>

        <h3>1 x 2</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中胜出或者赛事是否会以和局结束。</li>
            <li>在单日赛中，平局（tie）将以和局（x）结算</li>
            <li>如果比赛没有官方结果，则所有注单将被视为无效。</li>
        </ul>

        <h3>获胜者（并列第一规则）</h3>
        <ul>
            <li>预测哪一支球队将在比赛中胜出。</li>
            <li>如果赛果是平手，则所有投注会根据并列第一规则结算。</li>
        </ul>

        <h3>和局</h3>
        <ul>
            <li>预测赛事是否会以和局结束。</li>
            <li>如果赛果是和局，则所有投注在“是”的注单将会赢利。</li>
        </ul>

        <h3>赢得发球权</h3>
        <ul>
            <li>预测哪一支球队将赢得发球权，优先开始比赛。</li>
            <li>如果结果没有宣判，所有注单将会取消。</li>
        </ul>

        <h3>最佳击球手</h3>
        <ul>
            <li>以跑垒次数为基准，预测哪一位球员将会成为特定赛事中的最佳击球手。</li>
            <li>投注的球员如果不在11名首发阵容中或提名为第12位后备球员，所有注单将被取消。</li>
            <li>在两局赛制对赛里(甲级板球比赛)，除非另有注明，此盘口只以第一局的对赛结果为准。</li>
            <li>如果投注的球员没有参与比赛，注单将结算为输。</li>
            <li>如果比赛没有宣判优胜者，注单将按并列第一规则结算。</li>
        </ul>

        <h3>最佳投球手</h3>
        <ul>
            <li>以取得的三柱门次数为基准，预测哪一位球员将可以成为特定赛事中的最佳投球手。</li>
            <li>投注的球员如果不在11名首发阵容中或提名为第12位后备球员，所有注单将被取消。</li>
            <li>在两局赛制对赛里(甲级板球比赛)，除非另有注明，此盘口只以第一局的对赛结果为准。</li>
            <li>如果投注的球员没有参与比赛，注单将结算为输。</li>
            <li>如果两名球员取得三柱门的次数相同，跑垒次数较少的投手将视为获胜者，不论球员个投出的轮数。如果比赛没有宣判优胜者，注单将按并列第一规则结算。</li>
        </ul>

        <h3>最多四分的球队</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中获得最多四分次数。</li>
            <li>平手将会是一个投注选项。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>

        <h3>最多六分的球队</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中获得最多六分次数。</li>
            <li>平手将会是一个投注选项。</li>
            <li>如果预定的回合有减少，投注将会被取消。</li>
        </ul>

        <h3>最多得分的球队</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中获得最多得分次数（四分和六分的组合）。</li>
            <li>平手将会是一个投注选项。</li>
            <li>如果必须完成的回合有减少，投注将会被取消。</li>
        </ul>

        <h3>配对选手开场得分最高的球队</h3>
        <ul>
            <li>预测哪一支球队的配对选手开场得分最高。</li>
            <li>仅计算每支球队的第一局。</li>
            <li>平手将会是一个投注选项。</li>
        </ul>

        <h3>首个三柱门被击倒前跑位得分/第X个三柱门被击倒前跑位得分</h3>
        <ul>
            <li>预测击球方的第一个（或下一个）击球手在出局前的跑位得分。</li>
            <li>如果没有出局，投注将会取消，除非已经无条件地确认。</li>
            <li>击球队的总积分将包括目标总数或总申报数。</li>
        </ul>

        <h3>首个“三柱门”方式</h3>
        <ul>
            <li>预测第一个击球手的出局方式。</li>
            <li>相应选项为接球出局和其他。</li>
            <li>如果投球方没有击中三柱门，则所有投注将会被取消。</li>
        </ul>

        <h3>下一位出局的球手</h3>
        <ul>
            <li>预测两个击球员谁将会下一个出局。</li>
            <li>如果其中一名球员迫使退赛，所有注单将被取消。</li>
        </ul>

        <h3>第一个投球跑位得分</h3>
        <ul>
            <li>预测赛事中第一个球击出的跑位得分。</li>
            <li>如果赛事中没有球被击出，则所有投注均会被取消。</li>
        </ul>



        <h3>球队得4分的总数</h3>
        <ul>
            <li>预测球队得4分的总数将会大于或小于指定的数值。</li>
            <li>如果必须完成的回合有减少，投注将会被取消。</li>
        </ul>

        <h3>球队得6分的总数</h3>
        <ul>
            <li>预测球队得6分的总数将会大于或小于指定的数值。</li>
            <li>如果必须完成的回合有减少，投注将会被取消。</li>
        </ul>

        <h3>球队得分的总数</h3>
        <ul>
            <li>预测球队得分的总数（4分和6分的组合）将会大于或小于指定的数值。</li>
            <li>如果必须完成的回合有减少，投注将会被取消。</li>
        </ul>

        <h3>球队总跑位得分两项投注（三项）</h3>
        <ul>
            <li>预测当前击球方的总跑位得分将会大于或小于指定的数值。</li>
            <li>如果必须完成的回合有减少，投注将会被取消。</li>
        </ul>


        <h3>X回合获得最多跑位得分的球队</h3>
        <ul>
            <li>预测哪一支球队将会在他们各自赛局的指定X回合获得最多跑位得分。</li>
            <li>如果两支球队都未能完成指定的X回合，则所有投注均会取消，除非结果已经无条件确认。</li>
            <li>平手将会是一个投注选项。</li>
        </ul>

        <h3>首回合跑位得分（两项投注）</h3>
        <ul>
            <li>预测球队在首回合的跑位得分将会大于或是小于指定数值。</li>
            <li>如果该球队未能完成首回合，则所有投注将会取消，除非结果已经无条件确认。</li>
        </ul>

        <h3>首回合最高跑位得分</h3>
        <ul>
            <li>预测哪一支球队在他们各自的第一个赛局的首回合获得最高跑位得分。</li>
            <li>如果两支球队均未能完成首回合，则所有投注将会被取消，除非结果已经无条件确认。</li>
            <li>平手将会是一个投注选项。</li>
        </ul>

        <h3>球队全部出局</h3>
        <ul>
            <li>预测击球方是否会在第一个赛局宣告结束时失去所有10个三柱门。</li>
            <li>如果赛事在第一个赛局结束前便已经取消，则所有投注将会被取消。</li>
        </ul>

        <h3>击球手投注</h3>
        <ul>
            <li>预测哪一个指定的击球手可以获得该局的最高跑位得分。</li>
            <li>如果其中一个击球手退赛，所有投注将会被取消。如果没有球员出局，所有注单将被取消。</li>
            <li>如果出现平手，并列第一规则适用。</li>
        </ul>

        <h3>投球手投注</h3>
        <ul>
            <li>预测哪一个指定的投球手可以取得该局的最多三柱门。</li>
            <li>每个球员都必须要至少投一次球，否则所有投注将会被取消。</li>
            <li>如果出现平手，并列第一规则适用。</li>
        </ul>

        <h3>X回合跑位得分（两项投注）</h3>
        <ul>
            <li>预测特定期间（例如5个回合）的跑位总得分将会大于或是小于指定数值。</li>
            <li>如果特定的期间没有完全完成，则所有投注将会被取消，除非已经无条件地确认。</li>
        </ul>

        <h3>X回合跑位得分（三项投注）</h3>
        <ul>
            <li>预测是否在规定时间达到得分总数,例如5,将预测小于或大于在指定的范围值。</li>
            <li>如果特定的期间没有完全完成，则所有投注将会被取消，除非已经无条件地确认。</li>
        </ul>

        <h3>跑位得分总数两项投注（球员）</h3>
        <ul>
            <li>预测球员的跑位得分总数将会大于或小于指定数值。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
            <li>如果一个击球员因伤退赛并且没有返回，所有投注将会被取消，除非已经无条件地确认。</li>
            <li>如果是在甲级板球赛事中提供，则仅计算指定赛局。</li>
        </ul>

        <h3>跑位得分总数三项投注（球员）</h3>
        <ul>
            <li>预测球员的跑位得分总数将会大于、等于或小于指定数值范围。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
            <li>如果一个击球员因伤退赛并且没有返回，所有投注将会被取消，除非已经无条件地确认。</li>
            <li>如果是在甲级板球赛事中提供，则仅计算指定赛局。</li>

        </ul>

        <h3>跑位得分50/100/150/200（球员）</h3>
        <ul>
            <li>预测指定球员在某一局跑位得分是否可以达到50/100/150/200或是更多。</li>
            <li>单日赛结算——除非无条件确定，否则投注将会由于下雨或任何延误而无效。</li>
            <li>甲级比赛结算——不管是否受到下雨或者其他因素影响，赌注将根据官方公布的最终比分来确定。</li>
            <li>如果是在甲级板球赛事中提供，则仅计算指定赛局。</li>
        </ul>


        <h3>出局方式（下个三柱门）</h3>
        <ul>
            <li>预测下一个击球员的出局方式。</li>
            <li>可用的类型和数量选择取决于板球比赛的形式（有限的回合或是甲级）以及在比赛期间的形式。</li>
            <li>如果没有更多的击球员出局，所有投注将会被取消。</li>
        </ul>

        <h3>球队跑位总得分–单/双</h3>
        <ul>
            <li>预测击球队的跑位总得分是单数还是双数。</li>
            <li>至少要有一球在局间被击杀，否则投注将会被取消。</li>
            <li>结算将依据官方管理机构公布的该局比分进行。</li>
        </ul>

        <h3>首回合跑位得分–单/双</h3>
        <ul>
            <li>预测击球队在该局的首回合跑位得分是单数还是双数。</li>
            <li>至少要有一球在首回合被击杀，否则投注将会被取消。</li>
        </ul>

        <h3>最多歪球次数</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中获得最多歪球。</li>
            <li>平手将会是一个投注选项。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>

        <h3>歪球的总数</h3>
        <ul>
            <li>预测赛事中的歪球总数将会大于或是小于指定数值。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>

        </ul>

        <h3>被杀出局总数</h3>
        <ul>
            <li>预测赛事的被杀出局总数将会大于或是小于指定数值。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>

        <h3>最多击杀次数</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中获得最多击杀次数。</li>
            <li>平手将会是一个投注选项。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>

        <h3>击杀总数</h3>
        <ul>
            <li>预测赛事中的击杀总数将会大于或是小于指定数值。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>

        <h3>最多零分</h3>
        <ul>
            <li>预测哪一支球队将会在比赛中获得最多零分。</li>
            <li>平手将会是一个投注选项。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>

        <h3>零分总数</h3>
        <ul>
            <li>预测赛事中零分的总次数将会大于或是小于指定数值。</li>
            <li>如果必须完成的回合有减少，所有投注将会被取消。</li>
        </ul>
        <h3>跑位得分两项投注（三项投注）</h3>
        <ul>
            <li>预测参赛的球员跑位得分总数将会大于或小于指定数值。</li>
            <li>如果比赛因为下雨或其他原因延误，则使用以下条款：<br><br>
                <span>指定回合</span><br>
                所有赌注将视为无效，除非已经确定结果的比赛。<br><br>
                <span>甲级赛事</span><br>
                无论比赛因为下雨或其他原因延误，所有赌注都将成立。
            </li>

        </ul>
        <h3>跑垒数</h3>
        <ul>
            <li>预测当前跑垒得分的总数是否超过指定值。</li>
            <li>跑垒数必须超过20，投注方为有效。</li>
        </ul>

    </ul>
