
    <h1>冰球</h1>
    <span class="rules_update">最后更新日期: <em>08/12/2017</em></span>
    <h2>一般规则</h2>
    <ul>
        <li>如果原定比赛场地更改，所有的投注将被视为无效。</li>
        <li>在罚球中，获胜方会在赛事结束后的最终比分上加一分。</li>
        <li>在赛节投注中，特殊的赛节必须全部完成则注单才被视为有效，除非有明确说明或者个别投注规则。其他情况下，注单将一律取消。</li>
        <li>第三节赛节投注不包括加时赛和罚球赛。</li>
        <li>如果比赛提前开赛，只有在开赛之前投注的注单被视为有效投注。在开赛后投注的注单将被视为无效投注，滚球投注类型不包括在内。</li>
        <li>除了在有特别说明的情况下,加时赛并不计算在内。</li>
    </ul>

    <h2>投注类型</h2>
    <ul class="acc_backUL">
        <h3>独赢盘(优胜者) </h3>
        <ul>
            <li>预测哪支球队将赢得比赛。</li>

        </ul>

        <h3>1 X 2（独赢盘）</h3>
        <ul>
            <li>预测哪支球队将赢得比赛/赛节。盘口提供两支球队和平局为投注选项。加时赛并不计算在内。</li>

        </ul>

        <h3>让球</h3>
        <ul>
            <li>预测哪支球队将获得让球比赛/赛节的胜利。</li>
        </ul>

        <h3>滚球让球</h3>
        <ul>
            <li>预测哪支球队将获得让球比赛/赛节的胜利。</li>
        </ul>

        <h3>大/小(球)</h3>
        <ul>
            <li>预测赛事/赛节总进球数将大于或小于盘口分数。</li>
            <li>如果赛事中断前已有明确结果并且之后没有任何显著会影响赛事结果的情况，大小球投注的注单才会被结算。 若遇到任何其他情况，注单将一律被取消。</li>
        </ul>

        <h3>滚球大/小（球）</h3>
        <ul>
            <li>预测赛事/赛节总进球数将大于或小于盘口分数。</li>
            <li>如果赛事中断前已有明确结果并且之后没有任何显著会影响赛事结果的情况，大小球投注的注单才会被结算。若遇到任何其他情况，注单将一律被取消。</li>
        </ul>

        <h3>单/双</h3>
        <ul>
            <li>预测赛事/赛节总进球数为单或者双。</li>

        </ul>

        <h3>最先进球球队</h3>
        <ul>
            <li>预测哪支球队将最先得分。</li>
            <li>无论赛事在任何时间点取消，只要有一队在赛事取消前已经得分，所有的投注将被视为有效。</li>
            <li>如果在赛事取消时未有任何一方得分，所有的注单将一律被取消。</li>
        </ul>

        <h3>最后进球球队</h3>
        <ul>
            <li>预测哪支球队将最后得分。</li>
            <li>如果在赛事取消时未有任何一方得分，所有的注单将一律被取消。</li>
        </ul>

        <h3>球队最高得分的赛节</h3>
        <ul>
            <li>预测哪支球队在一场赛事中将获得最高的赛节得分。</li>
            <li>加时赛不计算在内。</li>
            <li>如果赛事取消，所有注单将一律被取消。</li>
            <li>如果赛事在3节正常比赛时间结束后未有任何一队得分，所有的注单将一律被取消。</li>
        </ul>


    </ul>
