
    <h1>冠军投注</h1>
    <span class="rules_update">最后更新日期: <em>17/10/2017</em></span>
    <p>冠军市场是提供预测一场赛事，联赛，锦标赛或赛车最终是否可以获得冠军。冠军市场包括以下类型（不仅限于此）：</p>
    <ul>
        <li>一个比赛的最终结果，例如：世界杯冠军或F1车手冠军。</li>
        <li>小组赛回合的最终结果，例如：世界杯小组赛冠军。</li>
        <li>一场赛事的最终结果，例如：一个球队从半决赛到决赛，不管比分，是否有加时赛或点球。</li>
        <li>赛车的最终结果，例如：F1赛事的个人冠军。</li>
        <li>一场比赛的最高得分者。</li>
        <li>获得最有价值球员等。</li>
    </ul>

    <h2>一般规则</h2>
    <ul>
        <li>所有冠军投注派彩都是已最终结果为准。</li>
        <li>无论挑选的人或球队是否有参与，所有冠军投注都视为有效。</li>
        <li>胜负不分规则适用于冠军投注市场。</li>
        <li>无论在什么情况下，如果使用"任何其他球员"或"任何其他球队"代替名称的参赛者将被视为无名称。</li>
        <li>如果体育项目有特殊规则，则将取代一般冠军规则。</li>
        <li>任何特定月份相关的冠军投注：市场将会在上一个月最后一天的23:59(英国时间)暂停。延迟或取消赛事将不影响赛果。如果是由于人为错误或技术故障而没有关闭市场，公司有权利取消利用此错误下注的所有注单。</li>
        <li>足球冠军投注仅适用于常规赛季（除非另作说明）。整个赛季赛程结束后球队最终的排名来决定冠军。季后赛或随后查询(潜在扣分)各自联赛将不计算在最终赛果。</li>
    </ul>



