
    <h1>橄榄球联盟/英式橄榄球联赛</h1>
    <span class="rules_update">最后更新日期: <em>27/10/2017</em></span>
    <h2>一般规则</h2>
    <ul>
        <li>如果比赛场地有变更，所有注单将被取消。</li>
        <li>除非另有注明, 所有英式橄榄球和联盟式橄榄球注单的结算将以80分钟完场时间的赛果为准。</li>
        <li>比赛的‘80分钟’完场时间包括任何伤停补时。</li>
        <li>除非另有注明投注种类,所有比赛不包括加时时间。</li>
        <li>所有滚球投注的结算将以80分钟完场时间的赛果为准。</li>
        <li>对于国际赛事，只要变更的场地仍在同一个国家内，所有注单将保持有效。</li>
        <li>所有上半场的投注将以上半场结束后的赛果结算。</li>
        <li>下半场的投注将以下半场（包括任何伤停补时或加时赛）后的赛果结算。</li>
        <li>如果赛事是在上半场中断，所有上半场的注单将被取消。如果赛事是在下半场或加时赛中断，所有上半场的投注保持有效，但所有下半场的注单将被取消。</li>
    </ul>

    <h2>投注类型</h2>

    <ul class="acc_backUL">
        <h3>冠军预测（平局退款）</h3>
        <ul>
            <li>预测哪一支球队在完场时间结束比赛胜出。</li>
            <li>如果比赛结果在完场时间后为平局 ，所有注单将被取消。</li>
        </ul>

        <h3>冠军预测（包括加时赛）</h3>
        <ul>
            <li>预测哪一支球队将在比赛胜出。</li>
            <li>完场时间和加时赛的比赛结果适用。</li>
            <li>如果在完场时间和加时赛的结算后为平局，所有冠军预测（包括加时赛）的注单将被取消。</li>
        </ul>

        <h3>独赢 </h3>
        <ul>
            <li>预测哪一支球队将在完场时间比赛胜出或平局。</li>盘口提供两支球队和平局为投注选项。
        </ul>

        <h3>独赢 - 上半场 </h3>
        <ul>
            <li>预测哪一支球队将在上半场比赛胜出或平局。</li>盘口提供两支球队和平局为投注选项。
        </ul>

        <h3>独赢 - 下半场 </h3>
        <ul>
            <li>预测哪一支球队将在下半场比赛胜出或平局。</li>盘口提供两支球队和平局为投注选项。
        </ul>

        <h3>让球 </h3>
        <ul>
            <li>预测哪一支球队在赛事指定的让分数赢得比赛。</li>
            <li>结算是以完场时间结束后最终比分，包含下注时的当时比分。</li>
        </ul>

        <h3>让球 - 上半场 </h3>
        <ul>
            <li>预测哪一支球队在上半场中赛事指定的让分数赢得比赛。</li>
            <li>结算是以上半场结束后最终比分，包含下注时的当时比分。</li>
        </ul>

        <h3>让球（包括加时赛）</h3>
        <ul>
            <li>预测哪一支球队将在比赛胜出。</li>
            <li>完场时间和加时赛的比赛结果适用。</li>
            <li>结算是以包括加时赛最终比分（如果有注明），包含下注时的当时比分。</li>
        </ul>

        <h3>总分： 大 / 小 </h3>
        <ul>
            <li>预测赛事在完场时间，两队总比分将大于或小于在盘口指定的大/小盘分数。</li>
            <li>如果赛事在任何阶段中断并且之后没有任何显著会影响赛事结果的情况，大/小盘注单视为无效注单。</li>
        </ul>

        <h3>总分: 大 / 小 - 上半场 </h3>
        <ul>
            <li>预测赛事在上半场，两队总比分将大于或小于在盘口指定的大/小盘分数。</li>
            <li>如果赛事在上半场中断并且之后没有任何显著会影响赛事结果的情况，大/小盘注单视为无效注单。</li>
        </ul>

        <h3>总分 - 3项投注：</h3>
        <ul>
            <li>预测赛事在完场时间，两队总比分将大于或小于或在盘口指定的大/小盘比分范围内。</li>
            <li>例如：如果提供的比分范围是50-60，如果最后的比分是49或更少“小”会是一个成功的选择，如果最后的比分是61以上或61内，相对于”大将是一个成功的选择，如果投注区间，而最后的比分在50-60之间的任何地方，则会是一个成功的投注。</li>
            <li>如果赛事在任何阶段中断并且之后没有任何显著会影响赛事结果的情况，所有注单视为无效注单。</li>
        </ul>

        <h3>球队得分：大/小</h3>
        <ul>
            <li>预测赛事，指定的球队总比分将大于或小于盘口指定的大/小盘口比分。</li>
            <li>如果赛事在任何阶段中断并且之后没有任何显著会影响赛事结果的情况，所有大/小盘注单视为无效注单。</li>
        </ul>

        <h3>球队得分：大/小－上半场</h3>
        <ul>
            <li>预测赛事，指定的球队总比分将大于或小于盘口指定的大/小盘比分。</li>
            <li>如果赛事在上半场中断并且之后没有任何显著会影响赛事结果的情况，所有大/小盘注单视为无效注单。</li>
        </ul>

        <h3>主队得分：大/小－上半场</h3>
        <ul>
            <li>预测赛事在上半场完场时间，主队得分将大于或小于盘口指定的大/小盘比分。</li>
            <li>如果赛事在上半场中断并且之后没有任何显著会影响赛事结果的情况，所有大/小盘注单视为无效注单。</li>
        </ul>

        <h3>客队得分：大/小－上半场</h3>
        <ul>
            <li>预测赛事在上半场完场时间，客队得分将大于或小于盘口指定的大/小盘比分。</li>
            <li>如果赛事在上半场中断并且之后没有任何显著会影响赛事结果的情况，所有大/小盘注单视为无效注单。</li>
        </ul>

        <h3>触地得分</h3>
        <ul>
            <li>预测比赛中哪一支球队会成为下一个触地得分的球队。</li>
            <li>如果赛事在指定球队触地得分前中断，则所有投注将被视为无效。</li>
        </ul>

        <h3>（触地得分后再把球射中球门的）附加得分</h3>
        <ul>
            <li>预测比赛中哪一支球队会成为最后触地得分的球队。</li>
            <li>如果裁判命令转换触地得分球队 ，则赛事结果将视为可接受的。</li>
            <li>如果最后触地得分球队放弃加踢射门，则所有注单将被视为无效。</li>
            <li>仅对联合式橄榄球,如果触地得分是罚踢触地得分,则盘口的注单将被取消.</li>
        </ul>


        <h3>触地得分总分：大／小盘</h3>
        <ul>
            <li>预测赛事，触地得分总分将大于或小于盘口指定的大/小盘比分。</li>
            <li>如果赛事在任何阶段中断并且之后没有任何显著会影响赛事结果的情况，所有大/小盘注单视为无效注单。</li>
        </ul>


        <h3>触地得分（球队）：大／小盘</h3>
        <ul>
            <li>预测赛事，触地得分总分（主队或客队）将大于或小于盘口指定的大/小盘比分。</li>
            <li>如果赛事在任何阶段中断并且之后没有任何显著会影响赛事结果的情况，所有大/小盘注单视为无效注单。</li>
        </ul>

        <h3>主队触地得分</h3>
        <ul>
            <li>预测赛事，主队是否在任何完场时间内触地多得一分或更多。</li>
        </ul>

        <h3>客队触地得分</h3>
        <ul>
            <li>预测赛事，客队是否在任何完场时间内触地多得一分或更多。</li>
        </ul>

        <h3>主队触地得分二分或更多</h3>
        <ul>
            <li>预测赛事，主队是否在任何完场时间内触地多得二分或更多。</li>
        </ul>

        <h3>客队触地得分二分或更多</h3>
        <ul>
            <li>预测赛事，客队是否在任何完场时间内触地多得二分或更多。</li>
        </ul>

        <h3>主队触地得分三分或更多</h3>
        <ul>
            <li>预测赛事，主队是否在任何完场时间内触地多得三分或更多。</li>
        </ul>

        <h3>客队触地得分三分或更多</h3>
        <ul>
            <li>预测赛事，客队是否在任何完场时间内触地多得三分或更多。</li>
        </ul>

        <h3>净胜分数（）</h3>
        <ul>
            <li>预测哪一支球队在完场时间结束后为净胜分数球队。</li>
            <li>结算将根据完场时间结束时双方球队所获得的最后得分。</li>
            <li>提供3种不同的方式:
                <ul>
                    <li>Variable Point Band, e.g. X-X points.</li>
                    <li>10 Point Bands, e.g. 01-10, 11- 20, 21-30 etc.</li>
                    <li>5 Point Bands, e.g. 01-5, 6-10, 11-15, 16-20 etc.</li>
                </ul>
            </li>
            <li>I如果赛事在任何时候中断，所有该场赛事的投注即被视为无效且取消。</li>
        </ul>


        <h3>首个触地得分球员</h3>
        <ul>
            <li>预测在80分钟完场时间内首个触地得分的球员。</li>
            <li>如果投注的球员在首个触地得分前参与比赛，所有注单将视为有效。</li>
            <li>如果投注的球员在首个触地得分后才进入比赛，所有注单将被取消。</li>
            <li>如果投注的球员没有参与比赛，所有注单将被取消。</li>
        </ul>


        <h3>最后触地得分球员</h3>
        <ul>
            <li>预测在80分钟完场时间内最后触地得分的球员。</li>
            <li>如果投注的球员在比赛所规定的80分钟完场时间内参与比赛，所有注单将视为有效。</li>
            <li>如果投注的球员没有参与比赛，所有注单将被取消。</li>
        </ul>


        <h3>触地得分球员</h3>
        <ul>
            <li>预测在80分钟完场时间内投注的球员是否会触地得分。</li>
            <li>如果投注的球员在比赛所规定的80分钟完场时间内参与比赛，所有注单将视为有效。</li>
            <li>如果投注的球员没有参与比赛，所有注单将被取消。</li>
            <li>如果赛事在某个球员触地得分后中断，所有投注触地得分球员的注单将保持有效。</li>
        </ul>


        <h3>首个触地得分球队</h3>
        <ul>
            <li>预测首个触地得分的球队。</li>
            <li>点球将不计算在内。</li>如果出现点球，下一个得分才被视为有效。
            <li>如果赛事在有得分后中断，所有首个触地得分球队的注单将保持有效。</li>
            <li>如果赛事在没有球队触地得分前中断，所有首个触地得分球队的注单将被取消。</li>
            <li>如果赛事在80分钟完场时间以及伤停补时内没有球队触地得分，所有首个触地得分球队的注单将被取消。</li>
        </ul>


        <h3>最后触地得分球队</h3>
        <ul>
            <li>预测最后触地得分的球队。</li>
            <li>点球将不计算在内。</li>如果出现点球，下一个得分才被视为有效。
            <li>如果赛事中断，所有最后触地得分球队的注单将被取消。</li>
            <li>如果赛事在80分钟完场时间以及伤停补时内没有球队触地得分，所有最后触地得分球队的注单将被取消。</li>
        </ul>


        <h3>首个得分球队</h3>
        <ul>
            <li>预测在比赛时(包括点球赛),首个得分的球队。</li>
            <li>如果赛事在有球队得分后中断，所有首个得分球队的注单将保持有效。</li>
            <li>如果赛事在没有球队得分前中断，所有首个得分球队的注单将被取消。</li>
            <li>如果赛事在80分钟完场时间以及伤停补时内没有球队得分，所有首个得分球队的注单将被取消。</li>
        </ul>


        <h3>最后得分球队</h3>
        <ul>
            <li>预测在比赛时(包括点球赛),最后得分的球队。</li>
            <li>如果赛事中断，所有最后得分球队的注单将被取消。</li>
            <li>如果赛事在80分钟完场时间以及伤停补时内没有球队得分，所有最后得分球队的注单将被取消。</li>
        </ul>




    </ul>
