
    <h1>斯诺克 / 台球</h1>
    <span class="rules_update">最后更新日期: <em>17/10/2017</em></span>
    <h2>一般规则</h2>
    <ul>
        <li>如果比赛没有完成，所有的投注将被视为无效，除非另有特别说明。 </li>
        <li>如果选手未完成赛事，所有投注此选手注单无效。 </li>
        <li>如果球员在比赛结束前弃权或取消参赛资格，所有投注此赛事的注单一律视为无效，除非在个别体育规则另有特别说明。 </li>
        <li>如果赛事延期或中断，只要比赛最后有完成，所有投注将保持有效。</li>
        <li>如果比赛提前开赛，只有在开赛之前投注的注单将为视为有效投注。在开赛后投注的注单将被视为无效， 滚球玩法除外。 </li>
    </ul>

    <h2>投注类型</h2>

    <ul class="acc_backUL">
        <h3>独赢盘</h3>
        <ul>
            <li>预测哪个球员将赢取比赛胜利。这个比赛包含双方球员。</li>
        </ul>

        <h3>让分盘</h3>
        <ul>
            <li>预测哪个球员将在指定的让局比赛获得胜利。</li>
        </ul>

        <h3>大/小</h3>
        <ul>
            <li>预测预测赛事总比分将大于或小于指定的盘口。 </li>
            <li>如果赛事中断前已有明确结果并且之后没有任何显著会影响赛事结果的情况，大小球投注的注单才会被结算。若遇到任何其他情况，注单将一律被取消。 </li>
        </ul>

        <h3>单/双</h3>
        <ul>
            <li>预测赛事的总比分是单数或双数。 </li>
        </ul>

        <h3>局数投注</h3>
        <ul>
            <li>预测哪个球员将会赢得一场指定赛事特定局数的胜利。</li>
            <li>投注的结算将依据WPBSA最终公布的局数获胜者为准。</li>
        </ul>

        <h3>打满比赛</h3>
        <ul>
            <li>此规则适用于所有比赛，例如：”打满八局”比赛最终结果可能是7-1或者4-4等。</li>
        </ul>

    </ul>
