
    <h1>水球</h1>
    <span class="rules_update">最后更新日期: <em>04/03/2015</em></span>
    <h2>一般规则</h2>
    <ul>
        <li>在没有特别说明的情况下，所有的投注皆以在32分钟完场时间所产生的赛果而定，不包括加时或罚球。 </li>
        <li>如果比赛提前开赛，只有在开赛之前投注的注单将为视为有效投注。在开赛后投注的注单将被视为无效， 滚球玩法除外。 </li>
        <li>如果原定比赛场地更改， 所有的投注将被视为无效。 </li>
    </ul>

    <h2>投注类型</h2>

    <ul class="acc_backUL">
        <h3>1 x 2独赢</h3>
        <ul>
            <li>预测哪一方将获得比赛的胜利。这个投注方式将包含2个球队和平局的投注选项。 </li>
        </ul>

        <h3>让球</h3>
        <ul>
            <li>预测哪一方将获得让球比赛/赛节的胜利。 </li>
        </ul>

        <h3>滚球让球</h3>
        <ul>
            <li>预测哪一方将在让球盘比赛/赛节的胜利。 </li>
            <li>滚球让球盘的输赢是以比赛最终比分减去投注当时的比赛比分，在计算让球分数下根据比分差来评判输赢。 </li>
        </ul>

        <h3>大/小(球)</h3>
        <ul>
            <li>预测赛事总进球数将大于或小于指定的盘口。 </li>
            <li>如果赛事取消，大小球投注会赛事已经确认任何潜在因素并不会影响最总赛果情况下结算。其他情况下，注单将一律取消。 </li>
        </ul>

        <h3>滚球大/小（球）</h3>
        <ul>
            <li>预测总进球数将大于或小于指定的盘口</li>
            <li>滚球大小球比分以0-0开始计算，派彩是根据最终的比分为准，投注时的比分是不计算在内的。 </li>
        </ul>

        <h3>单/双</h3>
        <ul>
            <li>预测赛事的总进球数是单数或双数。 </li>
        </ul>
    </ul>
