@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1; height:100%; zoom:1;}
ol, ul {list-style: none;}
blockquote, q {    quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
h1, h2, h3, h4, h5, h6{ font-weight:normal}
a{text-decoration:none;color: inherit;}
/* remember to define focus styles! */
:focus {outline: 0;}
input::-ms-clear{display: none;}/** IE10文本输入框的 X  **/
input::-ms-reveal{display: none;}/** IE10密码输入框的 X  **/
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {    text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {    border-collapse: collapse;border-spacing: 0;}

/*字型*/


* {font-family: Arial, Helvetica, SimSun, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html{ width:100%;height:100%;}
input, select, textarea{ outline:none;font-family:Arial, Helvetica, SimSun, sans-serif;}
tt, em{font-family:Arial, Helvetica, SimSun, sans-serif; font-style:normal}

body{width:100%; height:100%;}
th.topTD, td.topTD{ vertical-align:top}
.noFloat:after{ content:''; display:table; clear:both}
.img100{ display:block; width:100%}
.None{ display:none}

/* Microsoft Edge Browser 12+ (All) - @supports method */
@supports (-ms-accelerator:true) {
    .index_loadDIV{ background-color: #261d18; background-image:none}
    .index_loadDIV_edge{position:absolute; width:100%; height:900px; background: url(../../images/load_s.gif) no-repeat center center  #261d18; top:0; left:0;}
}



/*我的帳戶最外層myaccount_index.html控制*/
.index_accBody{ overflow-y:hidden}
.index_accMainTB{ width:900px; height:100%}
.index_accMainPAD{ width:100%; height:100%}/*PAD轉換*/
.index_accTD_left, .index_accTD_right{ vertical-align:top; height:100%}
.index_accTD_left{ width:150px;}

/*捲軸*/
::-webkit-scrollbar{ width:15px; background-color:#32271e} /*滾動條整體部分*/
::-webkit-scrollbar-thumb {background: url(../../images/scrollbar_thumbBG.png) center repeat-y; border-radius:100px;cursor:pointer;} /*拖動條*/
*:hover::-webkit-scrollbar-thumb{background: url(../../images/scrollbar_thumb_overBG.png) center repeat-y;}
::-webkit-scrollbar-corner { background-color:#32271e}/*右邊跟下面拉霸連街處*/



/*背景*/
.index_body { background:#725945;}



.live_main320, .live_main480{ width:336px; height:100%; background-color:#19130f;overflow-x:hidden; overflow-y:auto;}
.live_DIV320, .live_DIV480{ position:relative;width:310px;background-color:#19130f; margin:0 auto auto 5px}
.live_main480{ width:505px}
.live_DIV480{ width:480px}


.live_header{ position:relative;background-color:#513f33;}
.live_header:before{content: '';position: absolute;display: block;width: 18px;height: 15px;background:url(../../images/live_headerIcon.png) no-repeat ;top: 13px;left: 10px;}
.live_DIV320 .live_header:before, .live_DIV480 .live_header:before{left: 33px;}
.live_header h1{ line-height:40px;color:#fff1d6; font-size:15px; font-weight:bold; padding-left:38px;}
.live_header h1.On{ padding-left:60px; background:url(../../images/live_headerH1.png) 10px -1px no-repeat }
.live_header h1.Off{  padding-left:60px; background:url(../../images/live_headerH1.png) 10px -40px no-repeat}
.live_txtListBTN{ position:absolute; display:block;width:25px; height:25px; background:url(../../images/live_BTN.png) left top; top:7px; right:45px;}
.live_tvBigBTN{ position:absolute; display:block;width:25px; height:25px; background:url(../../images/live_BTN.png) left -39px; top:7px; right:10px;}
.live_tvBigBTN:hover, .live_txtListBTN_on, .live_txtListBTN:hover{ background-position-x:right}
.live_tvListBTN_on, .live_tvListBTN{position:absolute; display:block; padding:0 10px; height:25px; line-height:25px; color:#F9F0E5; font-size:13px;background-color:#776455; top:7px; right:45px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.live_tvListBTN_on, .live_tvListBTN:hover{background-color:#B48F65;} 
.live_allSportsBTN{ display:inline-block;position:absolute; color:#cdbfa9; font-size:13px; text-align:right; padding-right:18px; background: url(../../images/live_allSportsBTN.png) no-repeat right center; top:14px; right:10px;}

.live_MINImenu{ position:absolute;width:188px;padding:4px 4px 3px; background-color:#302214; text-align:left;top:16px; right:-11px;cursor:default; z-index:3}
.live_MINImenu_arr{ position:absolute;display:block; width:8px; height:5px; background:url(../../images/head_MINImenu_arr.png) no-repeat; top:-5px; right:13px;}
.live_MINImenu h1{line-height:36px;font-size:14px;font-weight:bold;color:#f8eee5;padding-left:10px;text-transform:uppercase; background:#302214!important;}
.live_MINIul li{ display:block; width:180px;line-height:35px;padding-left:10px;background-color:#513f33;color: #c3b294;font-size: 13px; margin-bottom:1px; text-transform:capitalize}
li.live_allSportsLow{line-height:12px; padding:5px 0 6px 10px}
.live_MINIul li:hover{ background-color:#776455; color:#ffd796;}

.live_noList, .live_noList_high{background-color:#261d18; color:#a58e73; font-size:13px; padding:10px; margin-bottom:3px}
.live_noList_high{ height:438px; padding:10px 10px 0; margin-bottom:0}
.live_timeList{ width:100%;position:absolute; top:40px; left:0; z-index:2}
.live_listG_nomal{ height:500px;position:relative; background-color:#261d18; overflow-y:auto;overflow-x:hidden;}
.live_listG{  width:100%;height:350px;position:relative; background-color:#261d18; }
.live_evenH{height: 310px;overflow-y:auto;overflow-x:hidden;}
.live_evenH_1{height: 350px;overflow-y:auto;overflow-x:hidden;}

.live_DIV480 .live_listG{ height:468px;}
.live_DIV480 .live_evenH{height: 428px;}
.live_DIV480 .live_evenH_1{height: 468px;}

.live_listG .live_allSportsBTN{ right:35px;}
.live_sportsCloseBTN{ position:absolute;display:block; width:15px; height:15px; background:url(../../images/ord_miniBTN.png) no-repeat center -230px; top:13px; right:10px;}
.live_sportsCloseBTN:hover{ background-position:center -261px;}
.live_listG h1, .live_listG h2, .live_listG_nomal h1 , .live_listG_nomal h2{ line-height:40px; background-color:#513f33;font-size:14px; color:#cdbfa9; font-weight:bold; padding-left:10px;}
.live_listG h2, .live_listG_nomal h2{font-size:13px;font-weight: normal;}
.live_delay{ height:100%;background-color:#261d18; padding:9px 0 0 10px;}
.live_delay h4{color: #c3b294; font-size:12px;}/*延遲金額*/

.live_listTB{ width:100%; color:#fff1d6; font-size:13px;}
.live_listTB td{ padding:10px 22px 14px 6px; text-align:left; line-height:16px;}
.live_txt_on, .live_txt_nomal:hover{ color:#ffbe55}
.live_txt_off{ color:#a58e73;}
td.live_tv_off{ padding:10px;text-align:center}

/*live list小圖示*/
.live_tv_nomal, .live_tv_on{ /*background:url(../../images/live_tvIcon.png) no-repeat 17px center;*/background:url(../../images/live_tvIconBig.png) no-repeat 17px center;}/*小電視(先乾脆全部改大看客戶反應)*/
.live_txt_nomal:hover  .live_tv_nomal, .live_tv_on{ /*background-position:-30px center*/background-position:-47px center}

.live_tvBig_nomal, .live_tvBig_on{ background:url(../../images/live_tvIconBig.png) no-repeat 17px center;}/*大電視*/
.live_tvBig_on{ background-position:-47px center}

.live_sc_nomal, .live_sc_on, .live_sc_off, .live_bk_nomal, .live_bk_on, .live_bk_off, .live_tn_nomal, .live_tn_on, .live_tn_off, .live_vb_nomal, .live_vb_on, .live_vb_off, .live_bm_nomal, .live_bm_on, .live_bm_off, .live_tt_nomal, .live_tt_on, .live_tt_off, .live_bs_nomal, .live_bs_on, .live_bs_off, .live_ot_nomal, .live_ot_on, .live_ot_off,.live_sk_nomal, .live_sk_on, .live_sk_off{background:url(../../images/live_miniIcon.png) no-repeat -87px center;}

.live_txt_nomal:hover .live_sc_nomal, .live_sc_on{background-position: -134px center}
.live_sc_off{ background-position: -182px center}
.live_bk_nomal{ background-position: -225px center}
.live_txt_nomal:hover .live_bk_nomal, .live_bk_on{ background-position: -272px center}
.live_bk_off{ background-position: -320px center}
.live_tn_nomal{ background-position: -371px center}
.live_txt_nomal:hover .live_tn_nomal, .live_tn_on{ background-position: -419px center}
.live_tn_off{ background-position: -466px center}
.live_vb_nomal{ background-position: -513px center}
.live_txt_nomal:hover .live_vb_nomal, .live_vb_on{ background-position: -561px center}
.live_vb_off{ background-position: -608px center}
.live_bm_nomal{ background-position: -656px center}
.live_txt_nomal:hover .live_bm_nomal,.live_bm_on{ background-position: -703px center}
.live_bm_off{ background-position: -750px center}
.live_tt_nomal{ background-position: -798px center}
.live_txt_nomal:hover .live_tt_nomal, .live_tt_on{ background-position: -845px center}
.live_tt_off{ background-position: -893px center}
.live_bs_nomal{ background-position: -940px center}
.live_txt_nomal:hover .live_bs_nomal,.live_bs_on{ background-position: -987px center}
.live_bs_off{ background-position: -1035px center}
.live_ot_nomal{ background-position: -1082px center}
.live_txt_nomal:hover .live_ot_nomal,.live_ot_on{ background-position: -1130px center}
.live_ot_off{ background-position: -1177px center}
.live_sk_nomal{ background-position: -1226px center}
.live_txt_nomal:hover .live_sk_nomal,.live_sk_on{ background-position: -1275px center}
.live_sk_off{ background-position: -1324px center}



.live_oddsG{}
.live_scoreDIV{ background-color:#513f33;}
.live_scoreTB{ width:100%;color:#ffb355; font-size:13px;} 
.live_scoreTB td{ line-height:14px; padding-top:3px;padding-bottom:3px; padding-left:10px;}
.live_SC{color:#ffbe55;}

.live_SC .live_Icon_FFFF00, .live_SC .live_Icon_FFCC66, .live_SC .live_Icon_FF6600, .live_SC .live_Icon_FF0000, .live_SC .live_Icon_6600FF, .live_SC .live_Icon_33CCCC, .live_SC .live_Icon_33CC00, .live_SC .live_Icon_0000FF, .live_SC .live_Icon_FFFFFF, .live_SC .live_Icon_999999, .live_SC .live_Icon_006699, .live_SC .live_Icon_000000, .live_SC .live_Icon_00FFFF, .live_SC .live_Icon_00FF00, .live_SC .live_Icon_4C7D7E, .live_SC .live_Icon_56A5EC, .live_SC .live_Icon_5EFB6E, .live_SC .live_Icon_7E3517, .live_SC .live_Icon_7F5A58, .live_SC .live_Icon_893BFF, .live_SC .live_Icon_A52A2A, .live_SC .live_Icon_F52887, .live_SC .live_Icon_F535AA, .live_SC .live_Icon_FAAFBE, .live_SC .live_Icon_FDD017, .live_SC .live_Icon_FF00FF { padding-left:10px;background:url(../../images/live_score_Icon1.png) no-repeat;}

.live_BK .live_Icon_FFFF00, .live_BK .live_Icon_FFCC66, .live_BK .live_Icon_FF6600, .live_BK .live_Icon_FF0000, .live_BK .live_Icon_6600FF, .live_BK .live_Icon_33CCCC, .live_BK .live_Icon_33CC00, .live_BK .live_Icon_0000FF, .live_BK .live_Icon_FFFFFF, .live_BK .live_Icon_999999, .live_BK .live_Icon_006699, .live_BK .live_Icon_000000, .live_BK .live_Icon_00FFFF, .live_BK .live_Icon_00FF00, .live_BK .live_Icon_4C7D7E, .live_BK .live_Icon_56A5EC, .live_BK .live_Icon_5EFB6E, .live_BK .live_Icon_7E3517, .live_BK .live_Icon_7F5A58, .live_BK .live_Icon_893BFF, .live_BK .live_Icon_A52A2A, .live_BK .live_Icon_F52887, .live_BK .live_Icon_F535AA, .live_BK .live_Icon_FAAFBE, .live_BK .live_Icon_FDD017, .live_BK .live_Icon_FF00FF { padding-left:10px;background:url(../../images/live_score_Icon2.png) no-repeat;}

/*.live_TN .live_Icon_FFFF00, .live_TN .live_Icon_FFCC66, .live_TN .live_Icon_FF6600, .live_TN .live_Icon_FF0000, .live_TN .live_Icon_6600FF, .live_TN .live_Icon_33CCCC, .live_TN .live_Icon_33CC00, .live_TN .live_Icon_0000FF, .live_TN .live_Icon_FFFFFF, .live_TN .live_Icon_999999, .live_TN .live_Icon_006699, .live_TN .live_Icon_000000, .live_TN .live_Icon_00FFFF, .live_TN .live_Icon_00FF00, .live_TN .live_Icon_4C7D7E, .live_TN .live_Icon_56A5EC, .live_TN .live_Icon_5EFB6E, .live_TN .live_Icon_7E3517, .live_TN .live_Icon_7F5A58, .live_TN .live_Icon_893BFF, .live_TN .live_Icon_A52A2A, .live_TN .live_Icon_F52887, .live_TN .live_Icon_F535AA, .live_TN .live_Icon_FAAFBE, .live_TN .live_Icon_FDD017, .live_TN .live_Icon_FF00FF網球只需兩色*/ 
.live_TN .live_Icon_B3A193, .live_TN .live_Icon_51AE2C{ padding-left:10px;background:url(../../images/live_score_Icon3.png) no-repeat;}
.live_BS .live_Icon_36DA20, .live_BS .live_Icon_E4E2DD{ padding-left:10px;background:url(../../images/live_score_Icon4.png) no-repeat;}

.live_score_team{ padding:0 40px 0 10px; color:#ffd796;}
.live_score_best{ width:47px;color:#c3b294; padding-left:10px;padding-right:10px;}
.live_score_redCard{ display:inline-block; position:relative;width:15px; height:19px; line-height:19px; background:url(../../images/live_scoreIcon.png) no-repeat right center; font-size:13px; color:#fff; text-align:center; margin-left:10px;}
.live_SC .live_Icon_FFFF00{ background-position:8px center}
.live_SC .live_Icon_FFCC66{ background-position:-19px center}
.live_SC .live_Icon_FF6600{ background-position:-46px center}
.live_SC .live_Icon_FF0000{ background-position:-73px center}
.live_SC .live_Icon_6600FF{ background-position:-100px center}
.live_SC .live_Icon_33CCCC{ background-position:-127px center}
.live_SC .live_Icon_33CC00{ background-position:-154px center}
.live_SC .live_Icon_0000FF{ background-position:-181px center}
.live_SC .live_Icon_FFFFFF{ background-position:-208px center}
.live_SC .live_Icon_999999{ background-position:-235px center}
.live_SC .live_Icon_006699{ background-position:-262px center}
.live_SC .live_Icon_000000{ background-position:-289px center}
.live_SC .live_Icon_00FFFF{ background-position:-316px center}
.live_SC .live_Icon_00FF00{ background-position:-343px center}
.live_SC .live_Icon_4C7D7E{ background-position:-370px center}
.live_SC .live_Icon_56A5EC{ background-position:-397px center}
.live_SC .live_Icon_5EFB6E{ background-position:-424px center}
.live_SC .live_Icon_7E3517{ background-position:-451px center}
.live_SC .live_Icon_7F5A58{ background-position:-478px center}
.live_SC .live_Icon_893BFF{ background-position:-505px center}
.live_SC .live_Icon_A52A2A{ background-position:-532px center}
.live_SC .live_Icon_F52887{ background-position:-559px center}
.live_SC .live_Icon_F535AA{ background-position:-586px center}
.live_SC .live_Icon_FAAFBE{ background-position:-613px center}
.live_SC .live_Icon_FDD017{ background-position:-640px center}
.live_SC .live_Icon_FF00FF{ background-position:-667px center}

.live_BK .live_Icon_FFFF00{ background-position:8px center}
.live_BK .live_Icon_FFCC66{ background-position:-19px center}
.live_BK .live_Icon_FF6600{ background-position:-46px center}
.live_BK .live_Icon_FF0000{ background-position:-73px center}
.live_BK .live_Icon_6600FF{ background-position:-100px center}
.live_BK .live_Icon_33CCCC{ background-position:-127px center}
.live_BK .live_Icon_33CC00{ background-position:-154px center}
.live_BK .live_Icon_0000FF{ background-position:-181px center}
.live_BK .live_Icon_FFFFFF{ background-position:-208px center}
.live_BK .live_Icon_999999{ background-position:-235px center}
.live_BK .live_Icon_006699{ background-position:-262px center}
.live_BK .live_Icon_000000{ background-position:-289px center}
.live_BK .live_Icon_00FFFF{ background-position:-316px center}
.live_BK .live_Icon_00FF00{ background-position:-343px center}
.live_BK .live_Icon_4C7D7E{ background-position:-370px center}
.live_BK .live_Icon_56A5EC{ background-position:-397px center}
.live_BK .live_Icon_5EFB6E{ background-position:-424px center}
.live_BK .live_Icon_7E3517{ background-position:-451px center}
.live_BK .live_Icon_7F5A58{ background-position:-478px center}
.live_BK .live_Icon_893BFF{ background-position:-505px center}
.live_BK .live_Icon_A52A2A{ background-position:-532px center}
.live_BK .live_Icon_F52887{ background-position:-559px center}
.live_BK .live_Icon_F535AA{ background-position:-586px center}
.live_BK .live_Icon_FAAFBE{ background-position:-613px center}
.live_BK .live_Icon_FDD017{ background-position:-640px center}
.live_BK .live_Icon_FF00FF{ background-position:-667px center}

.live_TN .live_Icon_B3A193,.live_BS .live_Icon_36DA20{ padding-left:11px; background-position:10px center}
.live_TN .live_Icon_51AE2C,.live_BS .live_Icon_E4E2DD{ padding-left:11px; background-position:-17px center}
/*.live_TN .live_Icon_FF6600{ padding-left:11px; background-position:-44px center}
.live_TN .live_Icon_FF0000{ padding-left:11px; background-position:-71px center}
.live_TN .live_Icon_6600FF{ padding-left:11px; background-position:-98px center}
.live_TN .live_Icon_33CCCC{ padding-left:11px; background-position:-125px center}
.live_TN .live_Icon_33CC00{ padding-left:11px; background-position:-152px center}
.live_TN .live_Icon_0000FF{ padding-left:11px; background-position:-179px center}
.live_TN .live_Icon_FFFFFF{ padding-left:11px; background-position:-206px center}
.live_TN .live_Icon_999999{ padding-left:11px; background-position:-233px center}
.live_TN .live_Icon_006699{ padding-left:11px; background-position:-260px center}
.live_TN .live_Icon_000000{ padding-left:11px; background-position:-287px center}
.live_TN .live_Icon_00FFFF{ padding-left:11px; background-position:-314px center}
.live_TN .live_Icon_00FF00{ padding-left:11px; background-position:-341px center}
.live_TN .live_Icon_4C7D7E{ padding-left:11px; background-position:-368px center}
.live_TN .live_Icon_56A5EC{ padding-left:11px; background-position:-395px center}
.live_TN .live_Icon_5EFB6E{ padding-left:11px; background-position:-422px center}
.live_TN .live_Icon_7E3517{ padding-left:11px; background-position:-449px center}
.live_TN .live_Icon_7F5A58{ padding-left:11px; background-position:-476px center}
.live_TN .live_Icon_893BFF{ padding-left:11px; background-position:-503px center}
.live_TN .live_Icon_A52A2A{ padding-left:11px; background-position:-530px center}
.live_TN .live_Icon_F52887{ padding-left:11px; background-position:-557px center}
.live_TN .live_Icon_F535AA{ padding-left:11px; background-position:-584px center}
.live_TN .live_Icon_FAAFBE{ padding-left:11px; background-position:-611px center}
.live_TN .live_Icon_FDD017{ padding-left:11px; background-position:-638px center}
.live_TN .live_Icon_FF00FF{ padding-left:11px; background-position:-665px center}*/

.live_scoreTB .TXTnowrap{ text-align:center}
.live_TN .TXTnowrap{ padding-left:2px; padding-right:2px; border-right:1px solid #695243}
.live_TN .Word_Paddleft{border-right:1px solid #695243}
.live_scoreTB_inside{ width:100%;background-color:#cecbb4; color:#52402a; font-size:13px;}
#TN_weather{ margin-left:6px;}

.live_movieDIV{ width:100%; height:289px; position:relative; background:#000; margin-top:1px;}
.live_demo_mini{ height:289px;background: url(../../images/liveTV_demo.jpg) center no-repeat #111;-moz-background-size: cover;background-size: cover; margin-top:1px;}
.live_DIV480 .live_movieDIV, .live_DIV480 .live_demo_mini{ height:400px;}


.LiveTV_mem{ margin-top:5px;}
.live_oddsDIV{background-color:#19130f;}
.live_oddsTB{ width:100%; text-align:right; background-color:#fff; color:#705636; font-size:14px;letter-spacing:-0.8px}
.live_TR_line{ border-bottom:1px solid #efe5d9}
.live_TR_BG{ background-color:#fbf7ee;}
.live_oddsTB th{ height:29px; background-color:#776455; color:#fff; padding-left:10px; font-weight:normal; text-align:left;/*border-top:1px solid #e4e2dd;*/ letter-spacing:0}
.live_oddsTB td{padding:7px 0 7px; padding-right:5px;}
.EN .live_oddsTB td{padding:5px 0 6px; padding-right:5px;}
td.live_oddsTD01,.EN td.live_oddsTD01{ width:10%; text-align:left; padding-left:10px;word-break:break-word;}
.EN td.live_oddsTD01{font-weight:bold;}
.live_oddsTD02{ width:12%;}
.live_oddsTD03{ width:39%;}
.live_oddsTD04{ width:39%;}

.live_odd480 td.live_oddsTD01,.EN .live_odd480 td.live_oddsTD01{ width:34%; font-weight:normal}
.live_odd480 .live_oddsTD02{ width:10%; font-weight:normal}
.live_odd480 .live_oddsTD03{ width:28%; font-weight:normal}
.live_odd480 .live_oddsTD04{ width:28%; font-weight:normal}

.live_odd_rightWord{text-align: right;}
.live_oddWordG{text-align: center;font-weight:bold; margin-left:5px;}

.live_oddTR{ border-bottom:1px solid #efe5d9}

/*賠率改回舊架構*/
.bet_bg_color,.bet_bg_color_bet,.bet_bg_color_chg,.bet_text_color { padding:3px 5px; color:#c8250a; white-space:nowrap;}
.bet_bg_color_bet {  background:#dc9601; border-radius:2px; color:#fff;}
.bet_bg_color_chg {  background:#fff0b4; border:1px solid #fbebaa; border-radius:2px;}
.bet_text_color { background:#fff0b4; color:#c8250a; border-radius:2px;
 background-color:rgba(255,240,180,0);
    -webkit-animation-name: change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
    animation-name: change;
    animation-duration: 5s;}
	/* Chrome, Safari, Opera */
@-webkit-keyframes change {
   	0%   {background-color:rgba(255,240,180,1)}
    100% {background-color: rgba(255,240,180,0); }
}

/* Standard syntax */
@keyframes change {
   	0%   {background-color:rgba(255,240,180,1);}
    100% {background-color:rgba(255,240,180,0) }
}

.bet_bg_color:hover,.bet_text_color:hover {background:#dc9602; color:#FFF; border-radius:2px;}




.live_allbetBTN{ display:block; width:102px; height:25px; line-height:25px; background:url(../../images/bet_more_btn.png) no-repeat; color:#27a67b; font-size:13px; text-align:center; letter-spacing:0; margin:0 auto 2px}
.live_allbetBTN:hover{ background-position:bottom; color:#fff}

.live_adG{ width:100%; margin:auto; padding-top:2px}
.index_TVad{width:100%;height:100%; padding-top: 5px;background: #19130f;overflow-x:hidden; overflow-y:auto;  }
.live_ad01,.live_ad02,.live_ad03,.live_ad04,.live_ad05{ display:block;width:310px; height:210px; background: url(../../images/ad01_tw.jpg) no-repeat; margin:auto auto 5px ;}
.live_ad01{position: relative;background: url(../../images/ad01_tw.jpg) no-repeat;}
.live_ad02{background: url(../../images/ad02_tw.jpg) no-repeat;}
.live_ad03{background: url(../../images/ad03_tw.jpg) no-repeat;}
.live_ad04{background: url(../../images/ad05_tw.jpg) no-repeat;}
.live_ad05{background: url(../../images/ad06_tw.jpg) no-repeat;display: none;}

.CN .live_ad01{background: url(../../images/ad01_cn.jpg) no-repeat;}
.CN .live_ad02{background: url(../../images/ad02_cn.jpg) no-repeat;}
.CN .live_ad03{background: url(../../images/ad03_cn.jpg) no-repeat;}
.CN .live_ad04{background: url(../../images/ad05_cn.jpg) no-repeat;}
.CN .live_ad05{background: url(../../images/ad06_cn.jpg) no-repeat;}

.EN .live_ad01{background: url(../../images/ad01_en.jpg) no-repeat;}
.EN .live_ad02{background: url(../../images/ad02_en.jpg) no-repeat;}
.EN .live_ad03{background: url(../../images/ad03_en.jpg) no-repeat;}
.EN .live_ad04{background: url(../../images/ad05_en.jpg) no-repeat;}
.EN .live_ad05{background: url(../../images/ad06_en.jpg) no-repeat;}




.live_ad01L{position: absolute;display: block;width: 70px;height: 30px;top: 164px;left: 151px;z-index: 2}
.live_ad01R{position: absolute;display: block;width: 310px;height: 210px;top: 0;left: 0;}


.EN .live_ad01L{width: 110px;top: 166px;left: 74px;}

/*liveTV.html*/
body.liveTVBG{background-color:#19130f; overflow:hidden}

.liveTV_main{ width:806px;}
.liveTV .live_tvListBTN{top:7px; right:10px;}
.live_txtListBTN{ background-position:left -76px}
.liveTVG{ height:438px;padding:1px 0 5px 5px}
.liveTV_leftDIV{ width:480px; float:left; margin-right:5px;}
.liveTV_movieBIGDIV{ height:438px;background:#000; margin-top:1px;}
.liveTV_demo{height:438px; background:url(../../images/liveTV_demo.jpg) no-repeat #000; margin-top:1px;}

.Live_mem{ width:316px;height:478px;overflow-y:hidden;}
.Live_mem iframe{ background-color:#fff;}
.liveTV_rightDIV{ position:relative;width:316px;float:left;}
.liveTV_rightDIV .live_listG_nomal{height:478px; overflow-x:hidden;overflow-y:auto }
.liveTV_rightDIV .live_allSportsBTN{ top:54px; right:15px;}
.Live_mem .live_oddsDIV{  margin-top:0;}

.liveTV_DIV_Mask, .liveTV_DIV_Mask_inside{position:absolute; width:100%; height:100%; background:url(../../images/ord_DIV_Mask.png); padding:8px 0 7px 5px; top:0; left:0}
.liveTV_DIV_Mask_inside{ height:475px;padding:0;}
.liveTV_MaskG{ display:block;}
.liveTV_betAreaG, .liveTV_betSuccG{width:285px;background-color:#19130f; padding:5px;}
.liveTV_betSuccG{ margin-top:21px;}
.liveTV_betAreaG h1, .liveTV_betSuccG h1{ background-color:#503f32; line-height:40px; font-size:15px; padding-left:5px; color:#fff1d6; font-weight:bold;}
.liveTV_NUM{ position:relative;width:253px; height:40px; padding:5px 5px 5px 10px; background-color:#fff;border-radius: 2px;}
.liveTV_NUM input{ float:left;width:208px;height:30px; line-height:30px;font-size:14px;color:#323232; border:none;}

.liveTV_enterBTNG{ background-color:#281f1a; padding:0 1px 10px 10px;}
.liveTV_enterBTNG span{ display:block; float:left; width:78px; height:25px; line-height:25px; background-color: #644E3D;  color:#c3b294; font-size:13px; text-align:center; margin:10px 10px 0 0;border-radius: 2px;}
.liveTV_enterBTNG span:hover{ background-color: #B48F65; color:#f9f0e5}
.liveTV_enterBTNG span.off{ background-color: #322823; color:#4f433d;cursor:default;}

.liveTV_betBTN, .liveTV_betBTN02, .liveTV_betBTN_off, .liveTV_cancalBTN{ display:block; float:left;width:122px; height:40px; line-height:40px; background-color:#2EBC8C; font-size:13px; color:#fff; text-align:center; margin:auto 0 9px 0;border-radius: 2px;}
.liveTV_betBTN:hover, .liveTV_betBTN02:hover{ background-color:#33D09B}
.liveTV_betBTN02{ line-height:15px; padding-top:5px;}
.liveTV_betBTN_off{background-color:#269871;color:#25654f;}

.liveTV_cancalBTN{background-color:#C5B9AB;  color:#423328; margin-right:10px}
.liveTV_cancalBTN:hover{ background-color:#D7C9B9;}
.liveTV_betSuccG .ord_checkG{margin-bottom:0}
.live_betSucBTNG{ background-color:#513f33; padding:10px 0 0 10px}
.liveTV_betSuccG .ord_confirmation{margin-top:0;}


/*假視訊圖*/
.live_TVdemoBG01, .live_TVdemoBG02, .live_TVdemoBG03{ height:289px; background:url(../../images/live_TVdemoBG.jpg) top #000 no-repeat; padding-top:187px; color:#d2a674; font-size:13px; text-align:center;}
.live_DIV480 .live_TVdemoBG01, .live_DIV480 .live_TVdemoBG02,.live_DIV480  .live_TVdemoBG03, .live_TVdemoBG_BIG01, .live_TVdemoBG_BIG02, .live_TVdemoBG_BIG03{height:400px; background:url(../../images/live_TVdemoBG_BIG.jpg) top #000 no-repeat; padding-top:237px; color:#d2a674; font-size:13px; text-align:center;}
.live_TVdemoBG02, .live_TVdemoBG_BIG02{ background-position:center}

.live_TVdemoBG03, .live_TVdemoBG_BIG03{ background-position:bottom}


/*160129新增玩法沒開*/
.liveTV_closeDIV{ width:100%; padding:21px 0; background-color:#fff; color:#232323; font-size:12px; text-align:center;margin-top:5px; margin-bottom:3px}
.live_closeDIV{ width:100%; height:438px;background-color:#fff; color:#232323; font-size:12px; text-align:center;}
.live_closeDIV span{ display:block;padding:20px 0; border-bottom:1px solid #baa283; }

/*160202新增沒轉播用*/
.live_NOTV_ad{ position:absolute; top:393px;}
.live_DIV480 .live_NOTV_ad{top:511px;}

/*160218新增更新鈕+彈出tv鈕*/
.live_refreshBTN{display:block; position: absolute; padding:0 10px 0 25px;height:30px; line-height:30px;font-size:13px;color:#f9f0e5;background: url(../../images/live_refreshBTN.png) no-repeat left center; top:39px; right:0}
.liveTV_headerBTN, .liveTV_headerBTN_on{ display:block; float:left;width:50%; height:40px; line-height:40px; background-color:#352820; color:#a58e73;font-size:14px; text-align:center; text-transform:uppercase}
.liveTV_headerBTN:hover, .liveTV_headerBTN_on{ background-color:#513f33; color:#a58e73;}

/*160222新增320px視訊畫面*/
.live_320pxG{ position:absolute; width:100%; height:40px; line-height:40px; position:relative; padding:0 25px 0 10px; background-color:#252525; color:#87827d; font-size:14px; top: 0; left: 0;}
.EN .live_320pxG{ padding-top:6px; line-height:15px; font-size:13px; }
.live_320pxG span{display:block; position:absolute; width:15px; height:15px; background: url(../../images/ord_miniBTN.png) no-repeat right -407px;top:12px; right:7px;  }
.live_320pxG span:hover{opacity:0.7;}

/*160531彈出TV強制有卷軸*/
.live_scrollBar{ height:450px;}

/*160727收折後廣告高度*/
.live_Hide_adG{position:absolute;width: 100%;margin: auto;padding-top: 2px; top:43px;}
.live_noMV{ height:393px}/*收折DIV控制*/
.live_DIV480 .live_noMV{height: 496px;}/*收折DIV控制*/


/*160926TV棒球上下半場壘包*/
#info_BS{ position:relative}
.live_FTarr{ position:absolute; padding-right:14px; color:#c3b294; font-size:13px;top: 14px;right: 10px;}
.live_FTarr.Up,.live_FTarr.Down{ background:url(../../images/live_FTarr.png) no-repeat right 3px;}
.live_FTarr.Down{ background-position:right -35px}
.live_LeiBaoG{ position:relative;width:30px; height:20px; }
.live_LeiBao01,.live_LeiBao02,.live_LeiBao03{ position:absolute;display:block; width:13px; height:12px; background:url(../../images/live_LeiBao.png) no-repeat 0 bottom; top:6px;left:13px;}
.live_LeiBao02{top:0; left:7px}
.live_LeiBao03{top:6px; left:1px}
.live_LeiBao01.On,.live_LeiBao02.On,.live_LeiBao03.On{ background-position:0 top}


/*171024台球新增文字*/
td.live_SK_left{width: 88px;padding-right: 10px;padding-left: 0;color:#ac956c;text-align: right;}


/*word type*/
.BlueWord{ color:#0b8dd0}
.light_BrownWord{ color:#72685e}
.light_BrownWord02{ color:#8a7566}
.light_BrownWord03{ color:#ac956c}
.dark_BrownWord{ color:#45403b}
.RedWord, td.RedWord{ color:#e73619}
.GreenWord{ color:#2ebc8c}
.dark_GreenWord, td.dark_GreenWord{ color:#658c18}
.dark_grayWord, td.dark_grayWord{ color:#312e2c}
.tuhuiWord{ color:#c3b294}
.dark_pink{ color:#cf5650}
.BlackWord{ color:#323232}

.fatWord{ font-weight:bold}
.miniWord{ font-size:12px; letter-spacing:-1.5px}

td.Word_Toleft{ text-align:left}
td.Word_Toright{ text-align:right}
td.Word_Paddleft{ text-align:left; padding-left:10px; padding-right:0}
td.Word_Paddright{ text-align:right; padding-right:10px; padding-left:0}
td.padd0, .EN td.padd0{ padding:0}
.margin10px{ margin-left:9px}
/*all use*/
li.no_margin, div.no_margin, span.no_margin, .ord_memu2 span.no_margin, .ord_sportMenu_Today ul li.no_margin{ margin:0}
.upperWord, .live_listG h1, .live_listG h2, .live_listG_nomal h2, .liveTV_betAreaG h1, .liveTV_betSuccG h1{text-transform:uppercase;}
.ord_sportMenu_InPlay div span{text-transform:capitalize;}
.TXTnowrap{ white-space:nowrap}


/*------BTN------*/
.live_tvListBTN, .live_tvBigBTN, .live_allSportsBTN, .live_MINIul li, .live_sportsCloseBTN, .live_txt_on, .live_txt_nomal, .live_allbetBTN, .live_txtListBTN, .liveTV_enterBTNG span, .liveTV_betBTN, .liveTV_betBTN02, .liveTV_cancalBTN, .live_oddWord, .live_TVdemoBG01, .live_TVdemoBG02, .live_TVdemoBG03, .live_TVdemoBG_BIG01, .live_TVdemoBG_BIG02, .live_TVdemoBG_BIG03, .live_oddWordTxt, .live_refreshBTN, .liveTV_headerBTN, .live_320pxG span,.live_tvListBTN_on,.live_header h1.On,.live_header h1.Off,.live_ad01L,.live_ad01R,.live_ad01{cursor: pointer;}
