/* 登录注册 开始 */

/*register*/
.reg #left {width:236px;}
.reg #middle { width: 764px; position: relative; float:left; margin-right:0px; margin-top:15px; }
.reg_bg { width: 744px; padding-left: 20px; background-color: #FFF; filter: alpha(opacity=10); opacity:0.1; position: relative; height: 800px; }
.notice{color:#FF0000;background-color:#EFEFEF;font-size:14px; font-weight:bold; line-height:24px;margin:5px auto;padding:10px 0 10px 20px;}
.form{ line-height:28px; position: absolute; top: 0px; }
.form label span{ display:block; width:90px; float:left; text-align: right; padding-right: 15px; color: #FFF; }
.form h2{ font-weight: bold; color: #FF0; padding-left: 39px; background: url(../images/reg/reg_border_top.png) no-repeat 15px bottom; height: 20px; line-height: 15px; width: 725px; font-size:12px; }
.form div{ line-height: 40px; height:40px; color: #f8e678; border-right: solid 2px #9b836f; border-left: solid 2px #9b836f; width: 631px; margin-left: 15px; padding-left: 100px; position: relative; }
.form div ul{ position: absolute; top: -18px; left: 340px; background: url(../images/reg/n_ico.png) no-repeat 15px 29px; height:41px; list-style-type:none; }
.form div ul li{ color:#FFF; line-height: 16px; background-color: #F00; filter: Alpha(Opacity=70); Opacity: 0.7; border: 2px solid #E7E9C3; padding: 3px; height: 16px;}
.form input{float:left; width:184px; height:27px; background: url(../images/reg/reg_input.png) no-repeat 0px -84px; margin: 0px; border:none 0px; background-color:transparent; padding: 0px 0px 0px 10px; vertical-align: middle; line-height: 27px; margin-top:6px; margin-right:5px; display:inline; }
.form .fltxt { display:block; float:left;}
#register div select { background: url(../images/reg/reg_input.png) no-repeat 0px -84px; margin: 0px; padding: 3px; height: 27px; width: 184px; border:none 0px; line-height: 27px; vertical-align: middle; background-color:transparent; }
.submitDiv input {cursor: pointer;line-height: 33px; height: 33px; width: 92px; background: url(../images/reg/reg_input.png) no-repeat -92px -112px; font-size: 14px; }
#main.agent .submitDiv input { margin-left:105px;}
#register div.use input { background-position: 0px 0px; padding-left: 25px; }
#register div.pass input { background-position: 0px -28px; padding-left: 25px; }
#register div.rep input { background-position: 0px -56px; padding-left: 25px; }
.form textarea{width:80%;height:200px;}
.form .reg_top { margin-left: 0px; height: 60px; background: url(../images/reg/reg_right_top.jpg) no-repeat; width: 764px; border:none 0px; padding-left: 0px; }
.form .reg_add { margin-left: 0px; background: url(../images/reg/reg_right_add.png) no-repeat center center; height: 48px; padding-top:7px;  font-weight: bold; padding-left: 280px;  margin-top: 10px; width: 444px; margin-bottom: 10px; border:none 0px; }
.form .reg_bottom { background: url(../images/reg/reg_border_bottom.png) no-repeat; height: 15px; border:none 0px; width: 735px; margin-bottom: 15px; padding-left: 0px; }
.form #register .submitDiv { padding-left: 250px; width: 481px; }
.form dl { padding-left: 30px; color:#c9b2a0; }
.form dl dd span { color: #f8e678; }
.form .check input { background-image: none; height: 13px; width: 13px; margin-right: 10px; }

.form div.reg_add_top_left { float:left; width:48px; height:48px; border:0px; margin:0; padding:0px;}
.form div.reg_add_top_right { float:left; width:300px; height:41px;  border:0px; margin:0; padding:0px;  padding-left:10px; padding-top:7px; }

.form .reg_head{ width:100%; height: 48px; padding: 5px; background:url(../images/reg/reg_right_add.png) no-repeat center -4px; text-align: center; border: none;}
.form .reg_head p.add_title{ display: inline-block; font-size: 14px; font-weight: bold;padding-left: 55px;
    line-height: 48px;}
.form .reg_desc{padding-left: 24px; border: none; line-height: 24px; padding-bottom: 10px; height: auto;}

/*register*/

/*agent*/
.form div#agboxbx1 , .form div#agboxbx2 , .form div#agboxbx3  { height:auto;}
.form div.agboxbot { height:5px;}
.agent #left {width:236px}
.agent #middle { width: 764px; position: relative; float:left; margin-right:0px; }
.agent #middle .form { padding-top:20px;}
.agent .form #agboxbx1 div , .agent .form #agboxbx2 div , .agent .form #agboxbx3 div , .agent .form .agboxbotw { border:none 0px; width: auto; margin-left: 0px; padding-left: 0px;}
.agent .form div ul { left:240px;}
#agent div select { background: url(../images/reg/reg_input.png) no-repeat 0px -84px; margin: 0px; padding: 3px; height: 27px; width: 184px; border:none 0px; line-height: 27px; vertical-align: middle; background-color:transparent; }
/*agent*/

/* 登录注册 结束 */
