/***  init  ***/
body, div, table, img { margin: 0; padding: 0; }
br { letter-spacing: 0; }
th { white-space: nowrap; }
th, thead td { text-align: center; }

/***  language  ***/
body.us { font-family: Verdana; }
body.cn { font-family: "Microsoft YaHei", simhei; }
body { font-family: Arial, Helvetica, sans-serif; }

/***  wrapper  ***/
body { text-align: center; font-size: 12px; }
#banner , #outter{ width: 1000px; margin: 0 auto; }
#banner { height: 80px; }
#banner img { float: left; }
#inner { width: 890px; margin: 0 auto; text-align: left; }

.entry { margin-bottom: 25px; }

.box-top, .box-bottom {
	width: 890px; height: 9px;
	display: block; margin: 0; padding: 0;
	font-size: 1px;
}

.box-top { background: url('../images/gamerule/pic_from01.gif') no-repeat bottom; }
.box-bottom { background: url('../images/gamerule/pic_from03.gif') no-repeat top; }


.box {
	background: url('../images/gamerule/pic_from02.gif') repeat-y;
	padding: 0 18px;
	color: #333333;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 22px;
}
@media screen and (max-device-width: 730px) {
    .box {
        padding: 0 40px;
    }
}
@media screen and (max-device-width: 520px) {
    .box {
        padding: 0 60px;
    }
}
.box * { margin: 0; }

.box ol, .box ul { padding-left: 18px; }

.section-title2 {
    background: url("../images/gamerule/section_title.gif") no-repeat 4px center;
    padding-left: 36px;
    height: 32px;
    line-height: 32px;
    letter-spacing: 0;
    font-family: 微軟正黑體;
    font-weight: bold;
}

.section-title2 .title1{
    font-size: 20px;
}

.section-title2 .title2{
    font-size: 18px;
    color: #fa0;
}


.section-gotop { height: 25px; }
/***  button  ***/
.gotop_btn {
	background: url('../images/gamerule/gotop.gif') no-repeat;
	width: 47px;
	height: 16px;
	border: none;
	margin-top: 3px;
	cursor: pointer;
	float: right;
}

/***  list style  ***/
ul.subtitle {
    list-style: none;
    background: url("../images/gamerule/subtitle_bg1.gif") no-repeat center left;
    padding-left: 33px;
}

ul.subtitle li {
    background: url('../images/gamerule/subtitle_bg2.gif') no-repeat center right;
    display:inline;
    padding-right: 9px;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
}

ul.help { list-style: none; padding: 0; }
ul.help li {
	background: url('../images/gamerule/icon_help.gif') no-repeat center left;
	padding: 3px 0 3px 15px;
	font-weight: bold;
}
ul.help img { vertical-align: middle; }


ul.func { list-style: none; padding: 0; }
ul.func li {
	background: url('../images/gamerule/icon.gif') no-repeat left 4px;
	padding: 3px 0 3px 15px;
	line-height: 22px;
}
ul.func img { vertical-align: middle; }

/***  subtitle  ***/

div.subtitle {
  background: url('../images/gamerule/subtitle_bg1.gif') no-repeat center left;
  padding-left: 33px;
}

div.subtitle span.subtitle {
  color: #990000;
  font-size: 12px;
  font-weight: bold;
  background: url('../images/gamerule/subtitle_bg2.gif') no-repeat center right;
  padding-right: 9px;
}

/***  function-list  ***/

ul.function-list { list-style: none; padding: 0; }
ul.function-list li {
	background: url('../images/gamerule/icon.gif') no-repeat center left;
	padding: 3px 0 3px 15px;
}
.function-list b, .function-list strong { color: #FF6600; font-weight: normal; }
.function-list img { vertical-align: middle; }



/***  jp-table   ***/

.jp-table { border: 5px double #b0b0b0; border-collapse:collapse; }
.jp-table td, .jp-table th { border: 1px solid #bbb; padding: 4px; }
.jp-table .label td, .jp-table .label th { background: #fcfec9;  text-align: center; }
.jp-table .heading td, .jp-table .heading th { background: #d2f4da; text-align: center; font-weight: bold; }

.jp-table .point1, .jp-table .point2 { font-size: 16px; font-weight: bold; font-family: Verdana; }
.jp-table .point1 { color: #FF3300; }
.jp-table .point2 { color: #990000; }

.odds {
    margin: 0 auto;
    display: inline-block;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 0 10px;
}

.color._f30 { color: #FF3300; }
.color._900 { color: #990000; }


.border-table { border: 5px double #b0b0b0; border-collapse:collapse; width: 700px; }
.border-table td, .border-table th { border: 1px solid #bbb; padding: 4px; }
.center-table td { text-align: center; }


.data-table { border-collapse:collapse; margin: 0 auto; width: 95%; }
.data-table thead td { white-space: nowrap; background-color: #FFC000; text-align: center; }
.data-table td { border: 1px solid black; }

table.center { text-align: center; }

table.border {
    border-collapse: collapse;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
}

table.border td, table.border th {
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

table.border.double { border-style:double; border-width:5px; }

table.border.black { border-color: black; }
table.border.black td, table.border.black th { border-color: black; }
