<style>
    .img-container>span {
        position: relative;
        display: inline-block;
    }
    .img-container .first {
        margin-left: 0;
    }
    .img-container img {
        margin-left: 44px;
        margin-top: 20px;
        float: left;
    }
    .img-container a>img {
        position: absolute;
    }
    .btn_test_play {
        position: absolute;
        display: block;
        width: 140px;
        height: 30px;
        margin-top: 17px;
        left: 50%;
        margin-left: -70px;
    }
    .img-container>span:nth-child(n+2) .btn_test_play {
        margin-left: -46px;
    }
</style>

<!-- 主体 -开始 -->
<div class="zrsx_m">
    <div class="zrsx_mn">
        <a>
            <img src="images/zr2/zr.png" alt="">
        </a>
        <div class="img-container">
                <span>
                    <a href="templates/livelogin.php?username=lllll02" target="_blank" class="btn_test_play"></a>
                    <img src="images/zr2/zr01.png" class="first">
                    <a href="../templates/ag_gamerule.html" target="_blank" ><img src="images/zr2/yxgz.png" style="right: 18px;bottom: 30px;"></a>
                    <a href="javascript:;" onclick="alert('请先登录!')"><img src="images/zr2/ljyx.png" style="right: 17px;bottom: 7px;"></a>
                </span>
            <span>
                    <a href="templates/livelogin.php?username=lllll02" target="_blank" class="btn_test_play"></a>
                    <img src="images/zr2/zr02.png">
                    <a href="../templates/ag_gamerule.html" target="_blank" ><img src="images/zr2/yxgz.png" style="right: 16px;bottom: 30px;"></a>
                    <a href="javascript:;" onclick="alert('请先登录!')"><img src="images/zr2/ljyx.png" style="right: 16px;bottom: 7px;"></a>
                </span>
            <span>
                    <a href="templates/livelogin.php?username=lllll02" target="_blank" class="btn_test_play"></a>
                    <img src="images/zr2/zr03.png">
                    <a href="../templates/ag_gamerule.html" target="_blank" ><img src="images/zr2/yxgz.png" style="right: 16px;bottom: 30px;"></a>
                    <a href="javascript:;" onclick="alert('请先登录!')"><img src="images/zr2/ljyx.png" style="right: 16px;bottom: 7px;"></a>
                </span>
            <span>
                    <a href="templates/livelogin.php?username=lllll02" target="_blank" class="btn_test_play"></a>
                    <img src="images/zr2/zr04.png">
                    <a href="../templates/ag_gamerule.html" target="_blank" ><img src="images/zr2/yxgz.png" style="right: 18px;bottom: 30px;"></a>
                    <a href="javascript:;" onclick="alert('请先登录!')"><img src="images/zr2/ljyx.png" style="right: 18px;bottom: 7px;"></a>
                </span>
        </div>
    </div>
</div>
<!-- 主体 -结束 -->