
<style type="text/css">
    /* CSS Document */
    .yhhd_m{
        float:left;
        display:inline;
        width:100%;
        margin-top:50px;
    }
    .yhhd_mn{
        margin:0 auto;
        overflow:hidden;
        width:942px;
        margin-bottom:20px ;
    }
    .yhhd_mn_pic{
        display:block;
        width:100%;
        margin-bottom:7px;
    }
    .yhhd_mn span{cursor:pointer}
    .yhhd_mn_con{ text-align:center}
</style>

<!-- 主体 -开始 -->
<div class="yhhd_m">
    <div class="yhhd_mn">
        <p class="yhhd_mn_pic"><img src="images/promos/yhhd_pic1.jpg" /></p>
        <span class="yhhd_mn_pic">
            <img src="images/promos/yhhd_cgp.png?v=2" />

        </span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/cgp1.jpg" usemap="#planetmap" />
            <map name="planetmap" id="planetmap">
                <area shape="rect" coords="100,325,690,390" onclick="window.open('https://cgpay.pw')">
            </map>
        </div>
      <!--  <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic10.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_pic10_on.png"/>
        </div>-->
        <!--<span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic9.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/9.jpg"/>
        </div>-->
        <!--<span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic7.png?v=444" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/7.png"/>
        </div>-->
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic_lhj.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_pic_lhj_on.jpg"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic13.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_pic13_on.jpg?v=2"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic12.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_pic12_on.jpg"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic10.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_pic10_on.jpg"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic11.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_pic11_on.jpg"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic1.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_qp_on.png"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic2.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/11.jpg?v=2"/>
        </div>
     <!--   <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic3.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/8.png"/>
        </div>-->
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic4.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/sign.jpg?v=1"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic5.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/1.jpg?v=1"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic6.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/b.jpg"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic7.png?v=1" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/3.jpg?v=4"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic8.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/4.jpg"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_pic9.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/5.jpg?v=1"/>
        </div>
        <span class="yhhd_mn_pic"><img src="images/promos/yhhd_hp.png" /></span>
        <div class="yhhd_mn_con" style="display:none;">
            <img src="images/promos/yhhd_hp_on.jpg"/>
        </div>
    </div>





</div>
<!-- 主体 -结束 -->
