
<!-- 主体 -开始 -->
<div style="clear:both;"></div>
<div class="gywm_m">
    <div class="gywm_mn">
        <!-- 主体左侧热门游戏列表 -开始 -->
        <div class="gywm_mnbl">

        </div>
        <!-- 主体左侧热门游戏列表 -结束 -->


        <!-- 主体右侧列表 -开始 -->
        <div class="gywm_mnbr">
            <div class="gywm_mnbr_gywm">负责人博彩 RESPONSIBILITY OF GAMING</div>
            <div class="gywm_mnbr_wenzi">

                <p>皇冠现金网致力于忠诚与可信赖的博彩保证。我们公司不但努力遵从远端博彩管理当局的适用法规以及指引，而且努力成为对社会负责任的远端博彩运营公司。 <br>
                    远程博彩是全球数以百万玩家的合法娱乐体验。对大多数玩家来说，远端博彩是一项令人愉快的体验，不过，我们也接受这样的现实，少部分沉迷在远端博彩的玩家可能会未达到法定年龄或者出现由于博彩而影响了他们的生活或财务状况的问题。 <br>
                    作为一个对社会负责的公司意味着要关注我们的玩家，意味着要对可能对社会产生影响的问题採用主动的方法去解决。这正是为何皇冠现金网会採用并完全承诺执行以下最严格的程式和强制.</p>
                <p>执行政策： </p>
                <p>对未成年人的访问限制 </p>
                <p> 皇冠现金网要求新客户申明他们已经达到他们所属的司法管辖地区规定的法定年龄且至少年满18岁。当我们怀疑客户可能虚假申报或可能有未成年人试图使用我们的服务时，我们会使用合理的方法进一步进行验证。 <br>
                    而且，为确保未成年人不能在我们的网站上进行娱乐，我们在新客户注册时就要求所有客户提供姓名、位址和出生日期；由我们的客户申明的这些资讯必须真实和准确。 <br>
                    我们同样确保所有广告、赞助以及推广活动并不会针对未成年人。 <br>
                    皇冠现金网不会允许任何未满18岁的人士使用我们的服务。此政策完全遵从并满足监管和给我们发放运营牌照的远端博彩管理当局，First Cagayan Leisure and Resort Corporation (FCRLC) for the Cagayan Economic Zone Authority (CEZA), of Santa Ana, Cagayan，Philippines的规则和规定； </p>
                <p>我们承诺将尽我们所能而同时也需要您的协助做到以下这些： </p>
                <p>1:使用儿童保护软体从可能被未成年人使用的电脑上遮罩远端博彩网站。 <br>
                    2:当您的电脑登录到远端博彩网站时不要让电脑处于无人在旁的状况。 <br>
                    3:不要告知未成年人您的信用卡或银行帐户的详细资料。 <br>
                    4:不要在皇冠现金网登录页面上让“保存密码”选项生效。 <br>
                    5:在电脑上为未成年人建立独立的登录档桉，令他们登录时无法访问您的资料。 <br>
                    6:如果您知道有人未满18岁（或未满他们所属司法管辖地区法定年龄）但错误地注册成为我们的玩家，请立刻通知我们。 </p>
                <p>控制嗜赌强迫症 </p>
                <p> 嗜赌强迫症对皇冠现金网毫无好处。我们力求在我们网站上营造一个安全、愉快的环境。嗜赌强迫症博彩者对他们的家庭、朋友和他们的生活都是一个问题，并形成一个不稳定和不安全的环境。 <br>
                    皇冠现金网承诺监察和减少嗜赌强迫症。我们有一个玩家行为追踪系统，而且我们一直努力设计和强制控制以限制失控的博彩方式出现。 <br>
                    当大部分人在他们自我控制的方法下进行博彩娱乐，仍有一些人可能会无法自控。我们不但努力识别嗜赌强迫症博彩者，而且也帮助他们对付他们的问题并阻止其他玩家成为嗜赌强迫症博彩者。 </p>
                <p>为了帮助您保持自控能力，我们希望您牢记以下这些： </p>
                <p>1:博彩应该被看成是娱乐活动，对待它应该如同您为娱乐而付费，因此不应该超出您的承受能力进行付费娱乐。 <br>
                    2:博彩不应该被视为赚钱赢利的正途。 <br>
                    3:避免急于追回损失。 <br>
                    4:只在您能够承受损失的范围内进行博彩。 <br>
                    5:追踪监控您在博彩上所花费的时间和金钱。 <br>
                    6:如果您需要帮助，请使用存款限制和时间限制来控制您所花费的金钱。 <br>
                    7:如果您需要暂时停止博彩，请联络我们进行自我排除或暂停帐户。 <br>
                    皇冠现金网遵从处理博彩社会影响的专门制度指引。为帮助玩家负责任地博彩，我们承诺会在这些制度下发展负责任的政策和实践。 </p>
                <p>另外，我们鼓励以下行为： </p>
                <p>1:公司方面的投注限制： <br>
                    2:通过设置投注限制政策，我们努力限制玩家在一定时间段内进行的投注，是在受控制的次数以内。 <br>
                    3:客户方面的投注限制： <br>
                    4:设置投注限额能够简单地令您在一定时间段内，控制您帐户的可以进行投注的金额。请您在我们网站开始玩之前，联络我们设置您的投注限额政策。 <br>
                    5:自我限制工具： <br>
                    为了您自我的保护，您可以要求一定时间的自我限制或暂停帐户。这意味着在您指定的冷静时段内，您将不能登录到我们的网站。当您的自我限制时段结束时，您将自动可以重新登录。<br>
                    <br>
                    懂得何时退出 </p>
                <p> 在线上博彩是一种娱乐形式，玩家很有必要明白，博彩是否已经令您的经济或感情生活构成了负担，我们会建议您问自己以下20个问题： <br>
                    您是否曾经因为博彩而损失了工作或教育的时间？ <br>
                    博彩是否曾让您的家庭生活不愉快？ <br>
                    博彩是否影响了您的名誉？ <br>
                    您是否曾在进行博彩之后自责？ <br>
                    您是否曾经用博彩来取得金钱进行偿还债务或解决财务困难？ <br>
                    博彩是否曾令您的进取心或效率下降？ <br>
                    当您输钱以后，您是否感到您需要儘快重新再来并赢回您的损失？ <br>
                    当您赢钱以后，您是否有强烈的冲动重新再来并赢得更多？ <br>
                    您是否曾经输到一文不剩？ <br>
                    您是否曾经借钱来赌博？ <br>
                    您是否曾经变卖一些东西换取金钱来赌博？ <br>
                    您是否不情愿地把“用来进行赌博的钱”支付日常开支？ <br>
                    赌博是否让您不再关心您自己或您家庭的幸福/ <br>
                    您是否曾经超过您计划的时间进行赌博？ <br>
                    您是否曾经用赌博来逃避忧虑或麻烦？ <br>
                    您是否曾经犯下或考虑过犯下不合法的行为来取得金钱进行赌博？ <br>
                    赌博是否曾令您失眠？ <br>
                    在您内心是否有争执、失望或挫折感令您产生去赌博的冲动？ <br>
                    您是否曾有冲动用几个小时的赌博来庆祝您幸运的事情？ <br>
                    您是否曾经考虑过自毁或自杀作为您赌博的最终结果？ <br>
                    大部分的嗜赌强迫症博彩者对其中至少7个问题回答“是”。如果您希望找到专业的建议，请寻求帮助。 </p>
                <p>面向全球提升我们的标准 </p>
                <p> 皇冠现金网力求在我们的目标区域内提升标准，因此我们竭尽所能地以负责、诚信、透明度、合法性以及认知度来进行自律。我们致力于面向全球提升诚信度，因为我们相信以最高标准进行运营对所有人都将有所裨益。 </p>
                <p>负责任和诚信 </p>
                <p> 我们相信我们会和客户对我们的看法一样出色。因此，最高水准的诚信度是皇冠现金网得以做到让我们的客户对我们有这样的看法的唯一标准。<br>
                    <br>
                    交易处理 </p>
                <p> 皇冠现金网遵守所属司法管辖区域关于资金交易的法律，而且IBC还遵从被国际认可的交易实体所接受的资金交易标准。 </p>
                <p>付款 </p>
                <p> 皇冠现金网保证从不拖延付款给客户。 </p>
                <p>客户服务承诺 </p>
                <p> 在皇冠现金网，让客户称心如意具有最高优先权。这正是为什麽您可以通过不同的方法透过客户服务支援部门与我们联繫，客户服务部门会在一天24小时、一周7天随时准备为您提供技术支援、争端解决以及回答您的问题。 <br>
                    <br>
                </p>

            </div>
        </div>
        <!-- 主体右侧列表 -结束 -->

    </div>
</div>
<!-- 主体 -结束 -->

<script type="text/javascript">
    loadLeftNav() ;
    urlSetAction(HTTPS_HEAD,FETCH_NUM);
    setUserMsg(usermessage,'nottip') ;

</script>