
<!-- 主体 -开始 -->
<div style="clear:both;"></div>
<div class="gywm_m">
    <div class="gywm_mn">

        <!-- 主体左侧热门游戏列表 -开始 -->
        <div class="gywm_mnbl">

        </div>
        <!-- 主体左侧热门游戏列表 -结束 -->


        <!-- 主体右侧列表 -开始 -->
        <div class="gywm_mnbr">
            <div class="gywm_mnbr_gywm">规则说明 RULE DESCRIPTION</div>
            <div class="gywm_mnbr_wenzi">

                <p>
                    <font color="red"><strong>警告声明：</strong></font>本公司是英属维京群岛政府认证的合法互联网络交易公司，现警告有意与皇冠现金网交易之客户，应注意其国家或居住地的相关法律规定，如有疑问应就相关问题，寻求当地法律见解。
                    本公司将不接受任何客户因违反当地交易相关法令所引起之任何责任。</p>
                <p>
                    <strong>致会员：</strong><br>
                    1、 如因软件或线路问题而导致交易内容或其它与账号设定不符合的情形,请于开赛前及滚球注单未有实际结果前\"立即\"连络本公司反映问题,否则该交易会员必须同意以本公司数据库中的数据为准。<br>
                    2、 若经本公司发现会员以不正当手法进行交易而交易注单内容不正常或于同ㄧ种项目传送多次相同注单，本公司将保留\"取消\"该非正常注单或只保留一张注单之权利。
                    <br>
                    3、 本公司保留判定任何涉嫌以任何非正常方式进行的个人或团体交易无效之权利，并将在进行进一步调查期间停止发放彩金。<br>
                    4、 本公司保留\"拒绝交易\"与\"提高/降低某些赛事单注最高金额\"并不做任何解释的权利。<br>
                    5、 本公司保留更改、修改现有条款或增加任何适当条款的权利，而条款改动后将会在会员端公告栏上公布。<br>
                    6、 倘若发生遭黑客入侵破坏行为或不可抗拒之灾害导致网站故障或数据损坏，数据丢失等情况，我们将以皇冠现金网在线交易之后备数据数据为最后处理依据；为确保各方真实利益，请各会员交易后打印数据，本公司皇冠现金网才接受投诉及处理。<br>
                    7、 为避免纠纷，各会员在交易之后，务必进入交易状况检查，若发现任何异常，请立即与代理商联系查证，否则交易会员必需同意，一切交易历史将以本公司数据库中数据为准，不得异议。
                    <br>
                    8、 报表项目:有效金额是指交易金额扣除 (1)取消之注单 (2)平手之注单 (3)输赢一半注单的50% 所得之实际有效交易金额。</p>
                <p>
                    <strong>交易须知：</strong><br>
                    1、 滚球项目：
                    <br>
                    A.在某些情况下本公司会在无预警情况下取消预定要进行滚球之盘口，例如：卫星收讯不良等因素。
                    <br>
                    B. 本公司针对因现场直播延迟或其它因素导致在滚球入球后进行交易行为之注单，保留裁决该注单为无效的权利。
                    <br>
                    C. 走地入球后，如因软件或线路的问题而导致比数或获利率无法更新，所有相关交易\"一律取消\"。<br>
                    D. 定时器：滚球比赛时间显示只供会员参考之用,如比赛时间有所误差,我们概不对此负责。
                    <br>
                    2、 在赛事开赛前，比赛队伍之主场或中立场若有任何更改，本公司将依据盘口与行情差距而保留更改前的注单是否有效之权利，所有判决将于走马灯公告上公布。
                    <br>
                    3、 当日与早餐取消之注单可于\"交易状况\"查询，当日以前取消之注单将放于\"账户历史\"并于结果字段注明\"取消\"，敬请各会员查询后重新交易。<br>
                    4、 除走地外，开打后接受的交易，将被视为「无效」。
                    <br>
                    5、 任何的投诉必须在开打之前提出，皇冠现金网不会受理任何开打之后的投诉。 所有交易项目(包括走地)；公布获利率时出现的任何打字错误或非故意人为失误。<br>
                    6 所有相关交易\"一律取消\"。</p>
                <p>
                    ◆更详细规则请登入会员账号后点击“资讯”即可查看。</p>
                <p>
                    皇冠现金网管理层 敬启</p>



            </div>
        </div>
        <!-- 主体右侧列表 -结束 -->

    </div>
</div>
<!-- 主体 -结束 -->

<script type="text/javascript">
    urlSetAction(HTTPS_HEAD,FETCH_NUM);
    setUserMsg(usermessage,'nottip') ;
    loadLeftNav() ;
</script>