
<!-- 主体 -开始 -->
<div style="clear:both;"></div>
<div class="gywm_m">
    <div class="gywm_mn">
        <!-- 主体左侧热门游戏列表 -开始 -->
        <div class="gywm_mnbl">

        </div>
        <!-- 主体左侧热门游戏列表 -结束 -->


        <!-- 主体右侧列表 -开始 -->
        <div class="gywm_mnbr">
            <div class="gywm_mnbr_gywm">存款帮助 DEPOSIT HELP</div>
            <div class="gywm_mnbr_wenzi">
                <p class="titles"><strong><span style="COLOR: #ffe500">【存款注意事项】</span></strong><br>
                </p>
                <p>
                    <br>
                    1.线上支付(已开通网上银行客户)<br>
                    网上银行在線支付、0手續費、开户5钟完成（支持以下银行）<br>
                    工商银行.招商银行.建设银行.农业银行.中国银行.交通银行.华夏银行.兴业银行.民生银行.<br>
                    广发银行.深圳银行.浦东银行.中信银行.光大银行.重庆银行.南京银行.勃海银行.东亚银行.<br>
                    　<br>
                    2.公司入款(ATM柜员机或银行柜台转账客户)<br>
                    您需要向在线客服索取我公司银行账户，并通过银行柜台或者ATM柜员机转账至我们公司指定的银行账号。为了保障您的资金安全，请您汇款/转账成功后，及时联系在线客服提供您的存款信息，由在线客服为您确认款项。<br>
                    <br>
                    【存款注意事项】 <br>
                    1.皇冠现金网城最低存款为$100人民币，最高存款暂不限制。未开通网银的会员，请亲洽您的银行柜台办理。如有任何问题，请联系24小时在线客服，谢谢。<br>
                    2.皇冠现金网的新老会员通过网银、ATM、手机银行转账或现金到柜台存入到公司指定银行账户进行游戏充值，即可享受充值金额2％的返利。无上限，次次存次次送。<br></p>

            </div>
        </div>
        <!-- 主体右侧列表 -结束 -->

    </div>
</div>
<!-- 主体 -结束 -->

<script type="text/javascript">
    loadLeftNav() ;
</script>