<style type="text/css">
	.sy_m{ background:url(./images/bg.jpg) no-repeat center  40px;}
</style>

<!-- 主体 -开始 -->
<div class="ty_m">
	<div class="ty_mn">
		<div class="ty_mns">
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty1.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty2.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty3.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty4.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty5.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty6.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty7.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnsn"><img src="images/sport/ty8.png" /></a>
		</div>
		<div class="ty_mnx">
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_03.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_05.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_07.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_09.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_11.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_12.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_13.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_14.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_18.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_19.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_20.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_21.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_22.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_23.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_24.png" /></a>
			<a href="javascript:alert('请登录后进行游戏，谢谢！')" class="ty_mnxn"><img src="images/sport/ty_25.png" /></a>
		</div>
	</div>
</div>
<!-- 主体 -结束 -->