
<!-- 主体 -开始 -->
<div style="clear:both;"></div>
<div class="gywm_m">
    <div class="gywm_mn">
        <!-- 主体左侧热门游戏列表 -开始 -->
        <div class="gywm_mnbl">

        </div>
        <!-- 主体左侧热门游戏列表 -结束 -->


        <!-- 主体右侧列表 -开始 -->
        <div class="gywm_mnbr">
            <div class="gywm_mnbr_gywm">取款帮助 WITHDRAWAL HELP</div>
            <div class="gywm_mnbr_wenzi">
                <p class="titles"><strong><span style="COLOR: #ffe500">【提款注意事项】</span></strong><br>
                </p>
                <p>

                    1.每笔取款下限为100元人民币，上限为1000000元人民币。到帐时间：一般3-10分钟内划出。<br>
                    2.每个账户24小时内只可以申请3次有效提款，再次提款请于距上次成功提款24小时后申请。<br>
                    3.银行帐号持有人姓名必须与在皇冠现金网注册的姓名一致，否则无法申请提款。<br>
                    4.存款后必须经过全额投注，否则无法申请提款，例如您存款1000元，您的有效投注额需达到1000元方可以申请提款。<br>
                    5.为保障客户资金安全，皇冠现金网有权要求会员提供资料验证，以确保客户资金不会被冒领。<br>
                    <br>
                    您可以通过以下方式进行提款：<br>
                    第一步：会员登入后点选「在线提款」。<br>
                    第二步：确认提款人姓名与您银行账号持有人相符。<br>
                    第三步：输入「取款额度」以及「有效的手机号码」。如有任何问题，方便皇冠现金网客服人员在第一时间与您联系。<br>
                    第四步：确认提款银行账号正确。<br>
                    第五步：选择公司金流方式出款。绑定建设银行、工商银行、农业银行、招商银行、中国银行、交通银行、中信银行、光大银行、华夏银行、民生总行银行、广东发展银行、深圳发展银行、中国邮政、农村信用合作社为出款银行的会员，随时提款，实时到帐。 <br>
                    <br>
                    皇冠现金网相关优惠或赠送彩金，请详见‘优惠活动’。
                    <br>

                    注意:账户存在异常操作、违规下注、及其他不符合公司规定的注单；需暂停提款、审核账户；情节严重的，冻结账户，没收余额！<br></p>

            </div>
        </div>
        <!-- 主体右侧列表 -结束 -->

    </div>
</div>
<!-- 主体 -结束 -->

<script type="text/javascript">
    urlSetAction(HTTPS_HEAD,FETCH_NUM);
    setUserMsg(usermessage,'nottip') ;
    loadLeftNav() ;
</script>